<app-admin-ui-container [title]="'Bookings'">
    <div class="tab-view">
      <div class="tab-headers">
        <div class="tab-header" [class.active]="activeTab === tabs.DETAILS" (click)="setActiveTab(tabs.DETAILS)">
          Details
        </div>
        <!-- <div class="tab-header" [class.active]="activeTab === tabs.EDIT" (click)="setActiveTab(tabs.EDIT)">
          Edit
        </div> -->
        
      </div>

      <div class="tab-content" [@tabChange]="activeTab">
        <div *ngIf="activeTab === tabs.DETAILS">
            <app-booking-detail />
        </div>
        <div *ngIf="activeTab === tabs.EDIT">
          <!-- <app-organization-owner-info [owner]="company.user"></app-organization-owner-info> -->
        </div>
      </div>
    </div>
</app-admin-ui-container>
