<ng-container *ngIf="createTier$  | async"></ng-container>
<ng-container *ngIf=" subscriptionTiers$  | async"></ng-container>



<app-admin-ui-container [title]="'Billing'">
  <div class="billing-container">
    <div class="billing-header">
      <h1>Subscription Tiers</h1>
    </div>

    <form [formGroup]="newTierForm" (ngSubmit)="createTier()" class="subscription-form">
      <p-dropdown formControlName="name" [options]="subscription_names" placeholder="Subscription Type" class="dropdown"></p-dropdown>
    
      <input type="text" formControlName="description" placeholder="Description" required class="input-field" />
    
      <input type="number" formControlName="price" placeholder="Price" required class="input-field" />
    
      <button type="submit" class="btn btn-primary" [disabled]="newTierForm.invalid">Create Tier</button>
    </form>
    

    <div class="billing-items" style="margin-top: 1cm;">
      <!-- <h2>Available Subscription Tiers</h2> -->
      <div class="item" *ngFor="let tier of subscriptionTiers">
        <span ><strong class="item-description">{{ tier.name | uppercase }}</strong> - {{ tier.description }}</span>
        <span class="item-price">${{ tier.price | number:'1.2-2' }}</span>
        <div class="cta__group">
          <button class="btn btn-secondary" (click)="editTier(tier)">Edit</button>
          <button class="btn btn-danger" (click)="deleteTier(8)">Delete</button>
        </div>

      </div>
    </div>


  </div>
</app-admin-ui-container>