<ng-container *ngIf="users$ | async"></ng-container>
<ng-container *ngIf="delete$ |async"></ng-container>

<app-admin-ui-container [title]="'Advisors'">
  <div>
    <!-- <p>The advisor profiles are {{advisorProfiles | json}}</p> -->
    <div class="table-header flex items-center justify-between">
      <span class="p-input-icon-left">
        <input type="text" pInputText placeholder="Search advisors..." (input)="applyFilter($event)">
      </span>
      <div class="font-light text-sm">Showing {{usersShowingCount}} - {{end}} of {{usersCount}} entries</div>
    </div>
    <p-table #dt [value]="advisorProfiles" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 30]"
      [globalFilterFields]="['firstName','username', 'lastName', 'roles']" (onPage)="onPage($event)">
      <ng-template pTemplate="header">
        <tr class="text-sm">
          <th *ngFor="let col of cols" [pSortableColumn]="col.field">
            <span class="header-container">
              <span class="header-text">
                {{col.header}}
              </span>
            </span>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr class="text-sm">
          <td>{{user.fullName | titlecase}}</td>
          <td>{{user.email | titlecase}}</td>
          <td>{{user.phone }}</td>
          <td>{{user.totalCapitalRaised}}</td>
          <td>{{user.totalYearsExperience}}</td>
          <!-- <td>
            <div class="flex items-center gap-3">
                <button type="button" class="p-button-text" (click)="editUser(user)"
                  title="Edit" tooltipPosition="top">
                  <i class="pi pi-pencil text-sm text-orange-600"></i>
                </button>
                <button type="button"  class="p-button-text" (click)="viewUser(user)"
                  title="Details" tooltipPosition="top">
                  <i class="pi pi-info-circle text-sm text-blue-600"></i>
                </button>
                <button type="button" class="p-button-text" (click)="deleteUser(user)"
                  title="remove">
                  <i class="pi pi-trash text-sm text-rose-600"></i>
                </button>
            </div>
          </td> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">No users found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</app-admin-ui-container>
