@import '../../styles/index.layout.scss';
@import '../../styles/business.components.steps.scss';

form{
  gap: 1.5rem;

  .btns__group{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .active{
      color: white;
      padding: .8rem 3rem;
      border-radius: .5rem;
      background-color: $primary-color;
      
    }
    .btn__disabled{
      cursor: not-allowed;
      padding: .8rem 3rem;
      border-radius: .5rem;
      background-color: $gray-500;
      color: rgba(255, 255, 255, 0.966);
    }

    .btn__link{
      text-align: left;
      width: max-content;
      color: $primary-color;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

@include when-screen-is-atleast(medium){
  form{
    .btns__group{
      align-items: center;
      flex-direction: row;
    }
  }
}