<div class="main__content">
  <app-sidenav [links]="links"/>
  <div class="main">
    <div class="navbar"><app-navbar onDashboard="true" [showBanner]="false" /></div>
    <div class="grid grid-cols-[auto_30%] !gap-8 !py-4 !px-8">
      <section class="flex flex-col !gap-2">
        <h3 class="!text-base font-light uppercase">Overview</h3>
        <div class="grid grid-cols-3 !gap-4">
          <div class="bg-white rounded !p-3 !gap-2 relative flex flex-col justify-between">
            <p class="font-light !text-sm">Global Funders</p>
            <div class="flex items-center justify-between">
              <h3 class="!text-3xl !font-light !leading-none !m-0">422</h3>
              <button class="w-7 h-7 flex items-center justify-center bg-orange-100 rounded-full absolute right-2 top-2">
                <i class="pi pi-globe text-xs text-orange-600"></i>
              </button>
            </div>
          </div>
          <div class="bg-white rounded !p-3 !gap-2 relative flex flex-col justify-between">
            <p class="font-light !text-sm">Available Funding</p>
            <div class="flex items-center justify-between">
              <h3 class="!text-3xl !font-light !leading-none !m-0">${{50000000 | numberabbreviation}}</h3>
              <button class="w-7 h-7 flex items-center justify-center bg-green-100 rounded-full absolute right-2 top-2">
                <i class="pi pi-wallet text-xs text-green-600"></i>
              </button>
            </div>
          </div>
          <div class="bg-white rounded !p-3 !gap-2 relative flex flex-col justify-between">
            <p class="font-light !text-sm">Matched Funders</p>
            <div class="flex items-center justify-between">
              <h3 class="!text-3xl !font-light !leading-none !m-0">138</h3>
              <button class="w-7 h-7 flex items-center justify-center bg-blue-100 rounded-full absolute right-2 top-2">
                <i class="pi pi-wave-pulse text-xs text-blue-600"></i>
              </button>
            </div>
          </div>

        </div>
        <h3 class="!text-base font-light uppercase !pt-3">Global funders</h3>
        <div class="bg-white">
          <app-global-investors />
        </div>
        <h3 class="!text-base font-light uppercase !pt-3">CC funders</h3>
        <div class="bg-white">
          <app-in-house-investors (onDataChange)="syncInhouseInvestors($event)"/>
        </div>
      </section>
      <section class="flex flex-col !gap-2">
        <h3 class="!text-base font-light uppercase">Insights</h3>
        <div class="bg-white rounded">
          <app-appex-column-chart 
            [showYAxis]="false"
            [height]="150"
            [distributed]="false"
            name="Investors"
            [data]="[
              {label: 'Global', value: 6,},
              {label: 'In-house', value: inHouseInvestors.matches},
              {label: 'Connected', value: inHouseInvestors.connects},
            ]" 
          />
        </div>
        <div class="!pt-2">
          <h3 class="!text-base font-light uppercase">Matching Criteria</h3>
          <div class="bg-white rounded !p-3 flex flex-col !gap-3">
            <div class="grid grid-cols-[10%_auto] items-center !w-full">
              <p class="!text-[8px] font-light !m-0">200 - </p>
              <div class="!h-[20px] bg-gray-50 overflow-hidden w-full">
                <div class="bg-orange-300 !w-[90%] !h-full"></div>
              </div>
            </div>
            <div class="grid grid-cols-[10%_auto] items-center !w-full">
              <p class="!text-[8px] font-light !m-0">160 - </p>
              <div class="!h-[20px] bg-gray-50 overflow-hidden w-full">
                <div class="bg-blue-300 !w-[75%] !h-full"></div>
              </div>
            </div>
            <div class="grid grid-cols-[10%_auto] items-center !w-full">
              <p class="!text-[8px] font-light !m-0">120 - </p>
              <div class="!h-[20px] bg-gray-50 overflow-hidden w-full">
                <div class="bg-green-300 !w-[60%] !h-full"></div>
              </div>
            </div>
            <div class="grid grid-cols-[10%_auto] items-center !w-full">
              <p class="!text-[8px] font-light !m-0">100 - </p>
              <div class="!h-[20px] bg-gray-50 overflow-hidden w-full">
                <div class="bg-rose-300 !w-[50%] !h-full"></div>
              </div>
            </div>
            <div class="grid grid-cols-[10%_auto] items-center !w-full">
              <p class="!text-[8px] font-light !m-0">50 - </p>
              <div class="!h-[20px] bg-gray-50 overflow-hidden w-full">
                <div class="bg-teal-300 !w-[40%] !h-full"></div>
              </div>
            </div>
            <div class="flex items-center flex-wrap !gap-x-3">
              <div class="flex items-center !gap-2">
                <div class="bg-orange-300 !w-[10px] !h-[10px] rounded-full"></div>
                <p class="!text-[8px] font-light !m-0">Sector </p>
              </div>
              <div class="flex items-center !gap-2">
                <div class="bg-blue-300 !w-[10px] !h-[10px] rounded-full"></div>
                <p class="!text-[8px] font-light !m-0">Sub-sector</p>
              </div>
              <div class="flex items-center !gap-2">
                <div class="bg-green-300 !w-[10px] !h-[10px] rounded-full"></div>
                <p class="!text-[8px] font-light !m-0">Use of funds </p>
              </div>
              <div class="flex items-center !gap-2">
                <div class="bg-rose-300 !w-[10px] !h-[10px] rounded-full"></div>
                <p class="!text-[8px] font-light !m-0">Country</p>
              </div>
              <div class="flex items-center !gap-2">
                <div class="bg-teal-300 !w-[10px] !h-[10px] rounded-full"></div>
                <p class="!text-[8px] font-light !m-0">Your Matches</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    </div>
</div>
      