@import '../../../../styles/main.scss';

.main__content{
  display: grid;
  min-height: 72svh;
  background: #f1f1f4;
}

@include when-screen-is-atleast(medium){
  .main__content{
    grid-template-columns: max-content auto;
  }
}
