<ng-container *ngIf="submit$ | async"></ng-container>
<ng-container *ngIf="countries$ | async"></ng-container>
<ng-container *ngIf="registrationStructureOptions$ | async"></ng-container>
<ng-container *ngIf="esgFocusAreaOptions$ | async"></ng-container>
<ng-container *ngIf="useOfFundsOptions$ | async"></ng-container>
<ng-container *ngIf="businessGrowthStageOptions$ | async"></ng-container>
<ng-container *ngIf="investmentStructureOptions$ | async"></ng-container>
<ng-container *ngIf="sectors$ | async"></ng-container>
<ng-container *ngIf="subSectors$ | async"></ng-container>
<ng-container *ngIf="investorProfile$ | async"></ng-container>
<ng-container *ngIf="investorTypeOptions$ | async"></ng-container>
<!-- <ng-container *ngIf="noMaxFunding$ | async as noMaxFunding"></ng-container> -->


<div class="container">
  <div class="content">
    <h6 class="brand__details">{{investorProfile ? "Update Your Investor Profile":"Kindly create your investor profile to proceed ... "}}</h6>
    <div class="tooltip" *ngIf="tooltipVisible" [ngStyle]="tooltipStyle">{{ tooltipText }}</div>


    <ng-container>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="form_content__container">
          <div class="header">
            <div class="steps__bar">
              <p>Step {{current_details}} of 4</p>
              <ul class="indicators">
                <li *ngFor="let step of cur_det; let i = index" [class.active]="(i + 1) <= current_details"></li>
              </ul>
            </div>
            <!-- <strong>Investor/Funder Profile</strong> -->
          </div>

          <div class="w-full">

            <div *ngIf="current_details==1" class="section1 grid grid-cols-1 md:grid-cols-2 gap-4" >
              <div class="input__wrapper w-full">
                <label class="input__label">Head Office Location<sup>*</sup></label>
                <a [title]="">Why do we ask this?</a>
                <p-dropdown [options]="countryOptions" optionLabel="name" optionValue="name" class="input__field"
                  styleClass="w-full gap-4" formControlName="headOfficeLocation" placeholder="Select option" />
                  <div *ngIf="formGroup.controls['headOfficeLocation']?.touched && formGroup.controls['headOfficeLocation']?.invalid" class="validation-message">
                    <small *ngIf="formGroup.controls['headOfficeLocation']?.errors?.['required']">Head Office Location is required.</small>
                  </div>
              </div>


              <div class="input__wrapper">
                <label class="input__label">Countries of Investment Focus<sup>*</sup></label>
                <a [title]="">Why do we ask this?</a>
                <p-multiSelect class="input__field" styleClass="w-full gap-4"
                  optionValue="name"
                  formControlName="countriesOfInvestmentFocus" [options]="countryOptions" optionLabel="name"
                  placeholder="Select countries"></p-multiSelect>
                  <div *ngIf="formGroup.controls['countriesOfInvestmentFocus']?.touched && formGroup.controls['countriesOfInvestmentFocus']?.invalid" class="validation-message">
                    <small *ngIf="formGroup.controls['countriesOfInvestmentFocus']?.errors?.['required']">At least one country must be selected.</small>
                  </div>
              </div>

              <div class="input__wrapper">
                <label class="input__label">Organization Name<sup>*</sup></label>
                <a [title]="">Why do we ask this?</a>
                <input class="input__field" formControlName="organizationName" type="text" placeholder="Enter organization name" />
                  <div *ngIf="formGroup.controls['organizationName']?.touched && formGroup.controls['organizationName']?.invalid" class="validation-message">
                    <small *ngIf="formGroup.controls['organizationName']?.errors?.['required']">Organization Name is required.</small>
                  </div>
              </div>

              <div class="input__wrapper">
                <label class="input__label">Fund Description<sup>*</sup></label>
                <a [title]="">Why do we ask this?</a>
                <textarea class="input__field" formControlName="fundDescription" placeholder="Describe the fund" rows="1"></textarea>
                <div *ngIf="formGroup.controls['fundDescription']?.touched && formGroup.controls['fundDescription']?.invalid" class="validation-message">
                  <small *ngIf="formGroup.controls['fundDescription']?.errors?.['required']">Fund Description is required.</small>
                </div>
              </div>

              <div class="input__wrapper">
                <label class="input__label">Website URL<sup>*</sup></label>
                <a [title]="">Why do we ask this?</a>
                <input class="input__field" formControlName="url" type="url" placeholder="Enter website URL" />
                <div *ngIf="formGroup.controls['url']?.touched && formGroup.controls['url']?.invalid" class="validation-message">
                  <small *ngIf="formGroup.controls['url']?.errors?.['required']">Website URL is required.</small>
                  <small *ngIf="formGroup.controls['url']?.errors?.['pattern']">Enter a valid URL.</small>
                </div>
              </div>

              <div class="input__wrapper">
                <label class="input__label">Email Address<sup>*</sup></label>
                <a [title]="">Why do we ask this?</a>
                <input class="input__field" formControlName="emailAddress" type="email" placeholder="Enter Email Addres" />
                <div *ngIf="formGroup.controls['emailAddress']?.touched && formGroup.controls['emailAddress']?.invalid" class="validation-message">
                  <small *ngIf="formGroup.controls['emailAddress']?.errors?.['required']">Email Address is required.</small>
                  <small *ngIf="formGroup.controls['emailAddress']?.errors?.['email']">Enter a valid email address.</small>
                </div>
              </div>         
            </div>



            <!-- 2 -->



            <div *ngIf="current_details==2" class="section2 grid grid-cols-1 md:grid-cols-2 gap-4">
              <div class="input__wrapper">
                <label class="input__label">Available Funding USD$<sup>*</sup></label>
                <a [title]="">Why do we ask this?</a>
                <input class="input__field" formControlName="availableFunding" type="number" placeholder="Enter available funding"/>
                <div *ngIf="formGroup.controls['availableFunding']?.touched && formGroup.controls['availableFunding']?.invalid" class="validation-message">
                  <small *ngIf="formGroup.controls['availableFunding']?.errors?.['required']">This field is required.</small>
                  <small *ngIf="formGroup.controls['availableFunding']?.errors?.['pattern']">Enter a valid number.</small>
                </div>
              </div>

              <div class="input__wrapper">
                <label class="input__label">Minimum Funding USD$<sup>*</sup></label>
                <a [title]="">Why do we ask this?</a>
                <input class="input__field" formControlName="minimumFunding" type="number" placeholder="Enter minimum funding" />
                <div *ngIf="formGroup.controls['minimumFunding']?.touched && formGroup.controls['minimumFunding']?.invalid" class="validation-message">
                  <small *ngIf="formGroup.controls['minimumFunding']?.errors?.['required']">This field is required.</small>
                  <small *ngIf="formGroup.controls['minimumFunding']?.errors?.['pattern']">Enter a valid number.</small>
                </div>
              </div>

              <div class="input__wrapper">
                <label class="input__label">Maximum Funding USD$ <sup>*</sup></label>
                <a [title]="">Why do we ask this?</a>
                <input class="input__field" formControlName="maximumFunding" type="number" placeholder="Enter maximum funding" />
                <div *ngIf="formGroup.controls['maximumFunding']?.touched && formGroup.controls['maximumFunding']?.invalid" class="validation-message">
                  <small *ngIf="formGroup.controls['maximumFunding']?.errors?.['required']">This field is required.</small>
                  <small *ngIf="formGroup.controls['maximumFunding']?.errors?.['pattern']">Enter a valid number.</small>
                </div>
              </div>


              <div class="input__wrapper">
                <label class="input__label">Sectors Of Investment<sup>*</sup></label>
                <a [title]="">Why do we ask this?</a>
                <p-multiSelect 
                  class="input__field" styleClass="w-full gap-4"
                  [options]="sectors" 
                  formControlName="sectors"
                  optionLabel="name" 
                  optionValue="id"
                  placeholder="Select Sectors"
                  (onChange)="onSectorChange()">
                </p-multiSelect> 
                <ng-template let-option pTemplate="item"><div appTooltip="{{option.description}}">{{option.name}}</div></ng-template>                

                <div *ngIf="formGroup.controls['sectors']?.touched && formGroup.controls['sectors']?.invalid" class="validation-message">
                  <small *ngIf="formGroup.controls['sectors']?.errors?.['required']">Select atleast one sector.</small>
                </div>
              </div>


              
            
            </div>





            <div *ngIf="current_details==3">             

              <div class="input__wrapper">
              <label class="input__label">Click to select the Sub Sectors Of The Selected Sectors<sup>*</sup>
                <small class="block text-sm text-gray-500 mt-1">(Click on a sector to expand and select sub-sectors)</small>
              </label>              
              <div class="section2 grid grid-cols-1 md:grid-cols-2 gap-4">
                <p-accordion [activeIndex]="activeAccordionIndex">
                  <p-accordionTab *ngFor="let sector of selectedSectorsObjects" [header]="sector.name" (click)="onAccordionOpen(sector.id)">
                    <div class="input__wrapper accordion-select">
                      <p-multiSelect  class="input__field" styleClass="w-full gap-4" [options]="subSectors" optionValue="id" formControlName="subSectors"
                        optionLabel="name" (click)="$event.stopPropagation()" (onChange)="onSubSectorChange()" placeholder="Select Sub Sectors">
                      </p-multiSelect>

                      <ng-template let-option pTemplate="item"><div appTooltip="{{option.name}}">{{option.name}}</div></ng-template>       
                      
                      
                      <ng-template let-option pTemplate="item">
                        <div pTooltip="{{option.description}}" tooltipPosition="top">{{option.name}}</div>
                      </ng-template>

                      <div *ngIf="formGroup.controls['subSectors']?.touched && formGroup.controls['subSectors']?.invalid" class="validation-message">
                        <small *ngIf="formGroup.controls['subSectors']?.errors?.['required']">Select atleast one sub sector.</small>
                      </div>
                    </div>
                  </p-accordionTab>
                </p-accordion>
                </div>               
              </div>
              </div>




            <div *ngIf="current_details==4" class="section3 grid grid-cols-1 md:grid-cols-2 gap-4">
              <div class="input__wrapper">
                <label class="input__label">Use of Funds<sup>*</sup></label>
                <a [title]="">Why do we ask this?</a>
                <p-multiSelect class="input__field" styleClass="w-full gap-4" formControlName="useOfFunds"
                  [options]="useOfFundsOptions" optionLabel="title" 
                  optionValue="title"
                  placeholder="Select use of funds">                
                  <ng-template let-option pTemplate="item"><div appTooltip="{{option.description}}">{{option.title}}</div></ng-template>                
                </p-multiSelect>
                <div *ngIf="formGroup.controls['useOfFunds'].touched && formGroup.controls['useOfFunds'].invalid" class="validation-message">
                  <small *ngIf="formGroup.controls['useOfFunds'].errors?.['required']">Please select at least one option.</small>
                </div>


              </div>

              <div class="input__wrapper">
                <label class="input__label">Business Growth Stages<sup>*</sup></label>
                <a [title]="">Why do we ask this?</a>
                <p-multiSelect class="input__field" styleClass="w-full gap-4" formControlName="businessGrowthStages"
                  [options]="businessGrowthStageOptions"  optionLabel="title"
                  optionValue="title"
                  placeholder="Select business growth stages">               
                  <ng-template let-option pTemplate="item"><div appTooltip="{{option.description}}">{{option.title}}</div></ng-template>                
                </p-multiSelect>
                <div *ngIf="formGroup.controls['businessGrowthStages'].touched && formGroup.controls['businessGrowthStages'].invalid" class="validation-message">
                  <small *ngIf="formGroup.controls['businessGrowthStages'].errors?.['required']">Please select at least one option.</small>
                </div>
              </div>

              <div class="input__wrapper">
                <label class="input__label">Investor/Funder Types<sup>*</sup></label>
                <a [title]="">Why do we ask this?</a>
                <p-dropdown   [options]="investorTypeOptions" optionLabel="title" optionValue="title" class="input__field"
                  styleClass="w-full gap-4"  formControlName="investorType" placeholder="Select option" >
                </p-dropdown>
                <div *ngIf="formGroup.controls['investorType'].touched && formGroup.controls['investorType'].invalid" class="validation-message">
                  <small *ngIf="formGroup.controls['investorType'].errors?.['required']">This field is required.</small>
                </div>
              </div>

              <div class="input__wrapper">
                <label class="input__label">Investment Structures<sup>*</sup></label>
                <a [title]="">Why do we ask this?</a>
                <p-multiSelect class="input__field" styleClass="w-full gap-4" formControlName="investmentStructures"
                  [options]="investmentStructureOptions"  optionLabel="title"
                  optionValue="title"
                  placeholder="Select investment structures">
                  <ng-template let-option pTemplate="item"><div appTooltip="{{option.description}}">{{option.title}}</div></ng-template>                
                </p-multiSelect>
                <div *ngIf="formGroup.controls['investmentStructures'].touched && formGroup.controls['investmentStructures'].invalid" class="validation-message">
                  <small *ngIf="formGroup.controls['investmentStructures'].errors?.['required']">Please select at least one option.</small>
                </div>
              </div>

              <div class="input__wrapper">
                <label class="input__label">ESG Focus Areas<sup>*</sup></label>
                <a [title]="">Why do we ask this?</a>
                <p-multiSelect class="input__field" styleClass="w-full gap-4" formControlName="esgFocusAreas"
                  [options]="esgFocusAreaOptions" optionLabel="title" 
                  optionValue="title"
                  placeholder="Select ESG focus areas">
                  <ng-template let-option pTemplate="item"><div appTooltip="{{option.description}}">{{option.title}}</div></ng-template>     
                </p-multiSelect>
                <div *ngIf="formGroup.controls['esgFocusAreas'].touched && formGroup.controls['esgFocusAreas'].invalid" class="validation-message">
                  <small *ngIf="formGroup.controls['esgFocusAreas'].errors?.['required']">Please select at least one option.</small>
                </div>
              </div>

              <div class="input__wrapper">
                <label class="input__label">Registration Structures<sup>*</sup></label>
                <a [title]="">Why do we ask this?</a>
                <p-multiSelect class="input__field" styleClass="w-full gap-4" formControlName="registrationStructures"
                  [options]="registrationStructureOptions" optionLabel="title"
                  optionValue="title"
                  placeholder="Select registration structures">                
                  <ng-template let-option pTemplate="item"><div appTooltip="{{option.description}}">{{option.title}}</div></ng-template>                
                </p-multiSelect>
                <div *ngIf="formGroup.controls['registrationStructures'].touched && formGroup.controls['registrationStructures'].invalid" class="validation-message">
                  <small *ngIf="formGroup.controls['registrationStructures'].errors?.['required']">Please select at least one option.</small>
                </div>

              </div>
            </div>



          </div>
        </div>


        <div class=" flex justify-end space-x-4 mt-6">
          <div class="cta__group">
            <button class="btn btn-primary outline" type="button" [disabled]="current_details==1" (click)="setPrevDetails()">Back</button>
          </div>
          <div *ngIf="current_details!=4">
            <button class="btn btn-primary" type="button" (click)="setNextDetails()">Next</button>
          </div>
          <button type="submit" *ngIf="current_details==4" [disabled]="!formGroup.valid" class="btn"
            [ngClass]="{'disabled-btn': !formGroup.valid}">{{investorProfile ? "Update" :"Submit"}}</button>
        </div>
      </form>
    </ng-container>
  </div>
</div>