<app-admin-ui-container [title]="signalService.businessInvestorPageSignal()">
      <div class="tab-view">
        <div class="tab-headers">
          <div class="tab-header" [class.active]="activeTab === 'profile'" (click)="setActiveTab('profile')">
            Profile
          </div>
          <div class="tab-header" [class.active]="activeTab === 'matched'" (click)="setActiveTab('matched')">
            Matched
          </div>
          <div class="tab-header" [class.active]="activeTab === 'interested'" (click)="setActiveTab('interested')">
            Interested
          </div>
          <div class="tab-header" [class.active]="activeTab === 'connected'" (click)="setActiveTab('connected')">
            Connected
          </div>
          <div class="tab-header" [class.active]="activeTab === 'declined'" (click)="setActiveTab('declined')">
            Declined
          </div>
          <div class="tab-header" [class.active]="activeTab === 'special-criteria'" (click)="setActiveTab('special-criteria')">
            Special criteria
          </div>
        </div>
  
        <div class="tab-content" [@tabChange]="activeTab">
          <div *ngIf="activeTab === 'profile'"><app-profile/></div>
          <div *ngIf="activeTab === 'matched'"><app-matched /></div>
          <div *ngIf="activeTab === 'declined'"><app-declined /></div>
          <div *ngIf="activeTab === 'connected'"><app-connected /></div>
          <div *ngIf="activeTab === 'interested'"><app-interested /></div>
          <div *ngIf="activeTab === 'special-criteria'"><app-special-criteria /></div>
        </div>
      </div>
</app-admin-ui-container>