<!-- <ng-container *ngIf="matchedCompanies$ | async"></ng-container> -->
<ng-container *ngIf="interestingCompanies$ | async"></ng-container>

<ng-container *ngIf="markAsInteresting$ | async"></ng-container>


<div class="main">
  <div class="navbar">
    <app-navbar onDashboard="true" [showBanner]="false" />
  </div>

  <main>
    <div class="left__col">
      <div *ngIf="table">
        <h5><strong>Interesting Businesess</strong></h5>
        <p>Businesess Interested In</p>
        <div class="flex mx-auto items-center justify-center text-center no-data" *ngIf="!interestingBusinesses.length">
          No interesting businesess found. <br /> Check again later.
        </div>
      </div>


      <div *ngIf="!table">
        <h6 class="text-xl font-semibold mb-2 text-center"><strong>Interesting Company Information</strong></h6>
      </div>

      <div class="table-parent">
        <table class="table" *ngIf="table">
          <tbody>
            <tr class="border-b border-gray-200">
              <td class="font-bold">#</td>
              <td class="font-bold">Country</td>
              <td class="font-bold">Amount Raised</td>
              <td class="font-bold">Business Sub Sector</td>
              <td class="flex font-bold space-x-2">Actions</td>
            </tr>

            <tr *ngFor="let business of interestingBusinesses; let i = index; trackBy: trackByIndex"
              class="border-b border-gray-200">
              <td class="font-bold">{{ i + 1 }}</td>
              <td class="">{{ business.company.country }}</td>
              <td class="">N/A</td>
              <td class="">{{ business.company.businessSubsector }}</td>
              <td class="flex space-x-2 justify-center p-2">
                <button class="btn btn-sm text-xs px-3 py-1" (click)="connect(business.company.id)">Connect</button>
                <button class="btn btn-danger btn-sm text-xs px-3 py-1"
                  (click)="cancelInterest(business.company.id)">Decline</button>

                <div class="py-auto eye" (click)="showDetails(business)">
                  <mat-icon class="small-icon">visibility</mat-icon>
                </div>
              </td>
            </tr>
          </tbody>
        </table>


        <!-- Intersting Business Extra Details -->
        <div *ngIf="selectedBusiness" class="mx-auto shadow-lg p-6">
          <!-- Company Details -->
          <div class="mb-6 details company__info">
            <hr />
            <div class="m-6 grid grid-cols-1 sm:grid-cols-2 gap-4">
              <div>
                <p class="font-bold">Country: <span class="font-light">{{ selectedBusiness.company.country }}</span></p>
              </div>
              <div>
                <p class="font-bold">Sector: <span class="font-light">{{ selectedBusiness.company.businessSector
                    }}</span></p>
              </div>
              <div>
                <p class="font-bold">Sub Sector:<span class="font-light">{{ selectedBusiness.company.businessSubsector
                    }}</span></p>
              </div>
              <div>
                <p class="font-bold">Registration Structure: <span class="font-light">{{
                    selectedBusiness.company.registrationStructure }}</span></p>
              </div>
              <div>
                <p class="font-bold">Years of Operation: <span class="font-light">{{
                    selectedBusiness.company.yearsOfOperation }}</span></p>
              </div>
              <div>
                <p class="font-bold">Growth Stage: <span class="font-light">{{ selectedBusiness.company.growthStage
                    }}</span></p>
              </div>
              <div>
                <p class="font-bold">Number of Employees: <span class="font-light">{{
                    selectedBusiness.company.numberOfEmployees }}</span></p>
              </div>
              <div>
                <p class="font-bold">Full Time Business: <span class="font-light">{{
                    selectedBusiness.company.fullTimeBusiness ? 'Yes' : 'No' }}</span></p>
              </div>

<!-- 
              <h1>Extra Details </h1>

              <ng-container *ngIf="investorEligibilityScore$ | async">
                <p>{{investorEligibilityScore | json}}</p>
              </ng-container>
              <ng-container *ngIf=" investorPreparednessScore$ | async">
                <p>{{ investorPreparednessScore | json}}</p>
              </ng-container>
              <ng-container *ngIf="impactAssessmentScore$ | async">
                <p>{{ impactAssessmentScore | json}}</p>
              </ng-container>
              <ng-container *ngIf="companyDetails$ | async">
                <p>{{ companyDetails | json}}</p>
              </ng-container> -->


            </div>
          </div>


          <!-- Back Button -->
          <div class="flex justify-end details">
            <td class="flex space-x-2 justify-center p-2">
              <button class="btn btn-sm text-xs px-3 py-1"
                (click)="connect(selectedBusiness.company.id)">Connect</button>
              <button class="btn btn-danger btn-sm text-xs px-3 py-1" (click)="cancelInterest(selectedBusiness.company.id)">Decline</button>
              <button class="btn btn-sm bg-blue-500 text-white hover:bg-blue-600" (click)="hideDetails()">
                Back to List
              </button>
            </td>
          </div>
        </div>







      </div>
    </div>


    <div class="right__col">
      <!-- <app-card [detail]="{title: 'Matched Businesses', value: matchedBusinesses.length.toString(), featured: true}">
        <p class="helper__text text__yellow">{{ matchedBusinesses.length.toString() }} perfect match</p>
      </app-card> -->

      <app-advertisement-space [title]="'Advertise Here'"
        [body]="'This space is available for your advertising needs to reach more businesses. Contact us to learn more!'" />
    </div>
  </main>
</div>














   