<ng-container *ngIf="question$ | async"></ng-container>


<div class="main">
    <div class="navbar">
        <app-navbar [showBanner]="showBanner" onDashboard="true" />
    </div>

    <div class="main__content">
        <section class="col__right">
            <div class="flex justify-between top__details">
                <h6 class="top__txt" >Preparedness Scoring</h6>
            </div>




            <p-tabView>
              <p-tabPanel header="INVESTOR PREPAREDNESS">       
                <div class="accordion">
                  <div class="card">
                    <p-accordion   *ngFor="let category of (investor_preparedness | keyvalue); let i = index" [activeIndex]="activeIndex">
                        <p-accordionTab [header]="category.key" (click)="toggleAccordion(i); loadPreparednessQuestionDetails(category.key)">

                            <div class="container" *ngIf="current_questions && current_questions.length > 0">
                              <div *ngFor="let question of current_questions let i = index" class="question">
                                  <h2>{{i+1}}.  {{ question.text }}</h2>
                                  <p class="tooltip">{{ question.tooltip }}</p>
                                  <p><strong>Type:</strong> {{ question.type }}</p>
                                  <p><strong>Order:</strong> {{ question.order }}</p>

                                  <div class="answers" *ngIf="question.answers && question.answers.length > 0">
                                      <p><strong>Possible Answers:</strong></p>
                                      <ul>
                                          <li *ngFor="let answer of question.answers">
                                              <p><strong>Answer:</strong> {{ answer.text }}</p>
                                              <p><strong>Weight:</strong> {{ answer.weight }}</p>
                                              <!-- <p><strong>Answer ID:</strong> {{ answer.id }}</p> -->
                                              <p *ngIf="answer.recommendation"><strong>Recommendation:</strong> {{ answer.recommendation }}</p>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>

                          
                          <div *ngIf="!current_questions || current_questions.length === 0">
                              <p>No questions available.</p>
                          </div>

                        </p-accordionTab>                 
                    </p-accordion>
                </div>
                </div>  

              </p-tabPanel>
              <p-tabPanel header="INVESTOR ELIGIBILITY">

            <div class="accordion">
              <div class="card">
                <p-accordion   *ngFor="let category of (investor_eligibility | keyvalue); let i = index" [activeIndex]="activeIndex">
                     <p-accordionTab [header]="category.key" (click)="toggleAccordion(i); loadEligibiltyQuestionDetails(category.key)">

                        <div class="container" *ngIf="current_questions && current_questions.length > 0">
                          <div *ngFor="let question of current_questions let i = index" class="question">
                              <h2>{{i+1}}.  {{ question.text }}</h2>
                              <p class="tooltip">{{ question.tooltip }}</p>
                              <p><strong>Type:</strong> {{ question.type }}</p>
                              <p><strong>Order:</strong> {{ question.order }}</p>

                              <div class="answers" *ngIf="question.answers && question.answers.length > 0">
                                  <p><strong>Possible Answers:</strong></p>
                                  <ul>
                                      <li *ngFor="let answer of question.answers">
                                          <p><strong>Answer:</strong> {{ answer.text }}</p>
                                          <p><strong>Weight:</strong> {{ answer.weight }}</p>
                                          <!-- <p><strong>Answer ID:</strong> {{ answer.id }}</p> -->
                                          <p *ngIf="answer.recommendation"><strong>Recommendation:</strong> {{ answer.recommendation }}</p>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>

                      
                      <div *ngIf="!current_questions || current_questions.length === 0">
                          <p>No questions available.</p>
                      </div>

                    </p-accordionTab>                 
                </p-accordion>
            </div>
            </div>  
              </p-tabPanel>
            </p-tabView>






     
        </section>

        <section class="col__left">
            <app-advertisement-space [title]="'Advertise Here'"
            [body]="'This space is available for your advertising needs to reach more businesses. Contact us to learn more!'" />
        </section>

    </div>

</div>




