<ng-container *ngIf="investorDetails$ | async"></ng-container>
<div class="main__content">
    <app-sidenav [links]="links"/>
    <main>
      <div class="navbar"><app-navbar onDashboard="true" [showBanner]="false" /></div>

    <div class="card__item__details" details>
        <div class="card__item__detail_info">
            <div class="!pr-4">
              <label>Investor Name:</label>
              <p>{{investor.name ?? '-'}}</p>
            </div>
            <div>
              <label>Email Address:</label>
              <p>{{investor.contactEmail ?? '-'}}</p>
            </div>
        </div>
        
        <div class="card__item__detail_info">
          <div>
            <label>Investor Type:</label>
            <p>{{investor.type ?? '-'}}</p>
          </div>
          <div >
            <label>Minimum Funding:</label>
            <p *ngIf="investor.minFunding">${{investor.minFunding | numberabbreviation}}</p>
            <p *ngIf="!investor.minFunding">-</p>
          </div>
          <div>
            <label>Maximum Funding:</label>
            <p *ngIf="investor.maxFunding">${{ investor.maxFunding | numberabbreviation }}</p>
            <p *ngIf="!investor.maxFunding">-</p>
          </div>
        </div>
      
        <div class="card__item__detail">
          <div>
            <label>Sectors of investment</label>
            <ul class="chips">
              <li *ngFor="let sector of investor.sectors" class="chip">{{sector}}</li>
            </ul>
          </div>
          <div>
            <label>Sub-sectors</label>
            <ul class="chips">
              <li *ngFor="let subSector of investor.subSectors" class="chip">{{subSector}}</li>
            </ul>
          </div>
          <div>
            <label>ESG Focus Areas:</label>
            <ul class="chips">
              <li *ngFor="let esg of investor.esgFocusAreas" class="chip">{{esg}}</li>
            </ul>
          </div>
          <div>
            <label>Business Stages the investor focuses on:</label>
            <ul class="chips">
              <li *ngFor="let stage of investor.businessGrowthStages" class="chip">{{stage}}</li>
            </ul>
          </div>
        </div>

        <div class="card__item__detail">
          <div>
            <label>Investment Structures:</label>
            <ul class="chips">
              <li *ngFor="let investiment of investor.investmentStructures" class="chip">{{investiment}}</li>
            </ul>
          </div>
          <div>
            <label>Countries of investment focus:</label>
            <ul class="chips">
              <li *ngFor="let country of investor.countries" class="chip">{{country}}</li>
            </ul>
          </div>

      
        </div>
      </div>
      </main>
</div>