<ng-container *ngIf="analytics$ | async" />
<ng-container *ngIf="entities$ | async" />


<app-admin-ui-container [bg_gray]="true" [title]="'Analytics'">
  <div class="main">
    <main class="stats">
      <ng-container *ngIf="stats$ | async as stats">
      <div>
        <h3>Business</h3>
        <div class="grid grid-cols-2 grid__wrapper">
          <div class="grid__container">
            <h3>Businesses per sector</h3>
            <div class="">
              <app-horizontal-barchart [data]="sectorStats.companies" ylabel="Sectors" xlabel="Businesses" *ngIf="sectorStats"/>
            </div>
          </div>
          <div class="grid__container">
            <h3>Businesses per country</h3>
            <div class="">
              <app-geo-chart [data]="businessCountriesStats" *ngIf="businessCountriesStats"/>
            </div>
          </div>
          <div class="grid__container">
            <h3>Businesses per Stage</h3>
            <div class="">
              <app-horizontal-barchart [colors]="['#f3b49f']" [data]="stagesStats" ylabel="Stages" xlabel="Businesses" *ngIf="stagesStats"/>
            </div>
          </div>
          <div class="grid__container">
            <h3>Businesses per Use of funds</h3>
            <div class="">
              <app-horizontal-barchart [colors]="['#762db1']" [data]="fundingStats.companies" ylabel="Use" xlabel="Businesses" *ngIf="fundingStats"/>
            </div>
          </div>
          <div class="grid__container">
            <h3>Businesses per Fund Raise</h3>
            <div class="">
              <app-column-chart [colors]="['#064635']" [data]="fundRaise" *ngIf="fundRaise"/>
            </div>
          </div>
          <div class ="flex ">
          <div class="grid__container">
            <h3>Business-Investor Engagements</h3>
            <div class="h-full flex w-full justify-center">
              <app-pie-chart legendPosition="bottom" [data]="{
                Interesting: stats.interesting,
                Connected: stats.connected,
                Declined: stats.declined
              }" [colors]="['#495057', '#654f29', '#064635', '#dc3546']"/>
            </div>
          </div>
          <div class="grid__container">
            <h3 class="text-center">Entities</h3>
            <div class="h-full flex w-full justify-center">
              <app-pie-chart legendPosition="bottom" [data]="{
                Businesses: entities.totalBusinesses,
                Investors: entities.totalInvestors,
              }" [colors]="['#847cfb', '#f3b49f']" />
            </div>
          </div>
        </div>
        </div>
      </div>

      <div>
        <h3>Investors</h3>
        <div class="grid grid-cols-2 grid__wrapper">
          <div class="grid__container">
            <h3>Investors Intresested per sector</h3>
            <div class="">
              <app-horizontal-barchart [colors]="['#847cfb']" [data]="sectorStats.investors" ylabel="Sectors" xlabel="Investors" *ngIf="sectorStats"/>
            </div>
          </div>
          <div class="grid__container">
            <h3>Investors per funding type</h3>
            <div class="">
              <app-horizontal-barchart [colors]="['#e9a901']" [data]="fundingStats.investors" ylabel="Type" xlabel="Investors" *ngIf="fundingStats"/>
            </div>
          </div>
          <div class="grid__container">
            <h3>Investors per minimum funding</h3>
            <div class="">
              <app-column-chart [colors]="['#654f29']" [data]="minFunding" *ngIf="minFunding" xlabel="Band" ylabel="Investors"/>
            </div>
          </div>
          <div class="grid__container">
            <h3>Investors per maximum funding</h3>
            <div class="">
              <app-column-chart [colors]="['#064635']" [data]="maxFunding" *ngIf="maxFunding" xlabel="Band" ylabel="Investors"/>
            </div>
          </div>
        </div>
      </div>
        
      </ng-container>
     
    </main>
  </div>
</app-admin-ui-container>