@import "../../../../styles/main.scss";

.main__content{
    display: grid;
    grid-template-columns: max-content auto;
    main{
        gap: 2rem;
        display: flex;
        padding: 3rem 2rem;
        flex-direction: column;
    }
    
}

.no-data{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

// @include when-screen-is-atleast(medium){
//     .main__content{
//         main{
            
//         }
//     }
// }

// @include when-screen-is-atleast(large){
//     .main__content{
//         main{
            
//         }
//     }
// }