<ng-container *ngIf="users$ | async" />
<ng-container *ngIf="summary$ | async" />

<app-admin-ui-container [bg_gray]="true" [title]="'Overview'">
  <div class="main">
    <main class="stats">
      <ng-container *ngIf="stats$ | async as stats">
        <div>
        <h3>Users</h3>
        <div class="grid grid-cols-[max-content_auto] grid__wrapper">
          <div class="grid__container">
            <h3>Roles</h3>
            <div class="">
              <app-pie-chart [data]="{
                'Investors': stats.investors,
                'Advisors': stats.advisors,
                'Admins': stats.staff,
                'Businesses': stats.business,
              }" 
              [colors]="['#847cfb', '#e9a901', '#762db1', '#2d7b88']"
              />
            </div>
          </div>
          <div class="grid__container">
            <h3>Recent Signups</h3>
            <p-table [value]="users" [paginator]="false"> 
              <ng-template pTemplate="header">
                <tr>
                  <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                    <span class="header-container">
                      <span class="header-text">
                        {{col.header}}
                      </span>
                    </span>
                  </th>
                </tr>
          </ng-template>
            <ng-template pTemplate="body" let-user>
              <tr>
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.roles | roleformat}}</td>
                
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="5">No recent signups recorded.</td>
              </tr>
            </ng-template>
          </p-table>
          </div>
        </div>
      </div>
      <div>
        <h3>Billing</h3>
        <div class="grid grid-cols-[max-content_auto] grid__wrapper">
          <div class="grid__container">
            <h3>Subscriptions</h3>
            <div class="">
              <app-pie-chart [data]="{
                'Basic': subscriptions['basic'],
                'Pro': subscriptions['pro'],
                'Elite': subscriptions['elite'],
                'Plus': subscriptions['plus']
              }" 
              [colors]="['#847cfb', '#e9a901', '#762db1', '#2d7b88']"
              />
            </div>
          </div>
          <div class="grid__container">
            <h3>Recent Subscriptions</h3>
            <p-table [value]="recentSubscriptions" [paginator]="false"> 
              <ng-template pTemplate="header">
                <tr>
                  <th *ngFor="let col of billing_cols" [pSortableColumn]="col.field">
                    <span class="header-container">
                      <span class="header-text">
                        {{col.header}}
                      </span>
                    </span>
                  </th>
                </tr>
          </ng-template>
            <ng-template pTemplate="body" let-subscription>
              <tr>
                <td>{{subscription.user.firstName | titlecase}} {{subscription.user.lastName | titlecase}}</td>
                <td>{{subscription.subscriptionTier.name | titlecase}}</td>
                <td>{{'Ksh '+subscription.subscriptionTier.price | uppercase}}</td>
                <td>{{subscription.isActive? 'Yes': 'No'}}</td>
                <td>{{subscription.subscriptionDate | time_ago}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="5">No subscriptions recorded recently.</td>
              </tr>
            </ng-template>
          </p-table>
          </div>
        </div>
      </div>     
      <div>
        <h3>Payments</h3>
        <div class="grid grid__wrapper">
          <div class="grid__container">
            <h3>Recent Transactions</h3>
            <p-table [value]="payments" [paginator]="false"> 
              <ng-template pTemplate="header">
                <tr>
                  <th *ngFor="let col of payment_cols" [pSortableColumn]="col.field">
                    <span class="header-container">
                      <span class="header-text">
                        {{col.header}}
                      </span>
                    </span>
                  </th>
                </tr>
          </ng-template>
            <ng-template pTemplate="body" let-payment>
              <tr>
                <td>{{payment.id}}</td>
                <td>{{payment.currency}} {{payment.amount | numberabbreviation}}</td>
                <td>{{payment.status | titlecase}}</td>
                <td>{{payment.createdAt | time_ago}}</td>
                <td>{{payment.description }}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="5">No trasactions recorded recently.</td>
              </tr>
            </ng-template>
          </p-table>
          </div>
        </div>
      </div>
      <div>
        <h3>Bookings</h3>
        <div class="grid grid__wrapper">
          <div class="grid__container">
            <h3>Recent Bookings</h3>
            <p-table [value]="bookings" [paginator]="false"> 
              <ng-template pTemplate="header">
                <tr>
                  <th *ngFor="let col of booking_cols">
                    <span class="header-container">
                      <span class="header-text">
                        {{col.header}}
                      </span>
                    </span>
                  </th>
                </tr>
          </ng-template>
            <ng-template pTemplate="body" let-booking>
              <tr>
                <td>{{booking.calendlyEventId}}</td>
                <td>{{booking.payment.currency}} {{booking.payment.amount | numberabbreviation}}</td>
                <td>{{booking.payment.status | titlecase}}</td>
                <td>{{booking.createdAt | time_ago}}</td> 
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="5">No bookins recorded recently.</td>
              </tr>
            </ng-template>
          </p-table>
          </div>
        </div>
      </div>   
      </ng-container>
     
    </main>
  </div>
</app-admin-ui-container>