<ng-container *ngIf="users$ | async"></ng-container>

<app-admin-ui-container [title]="'Analytics'">
  <div class="main">
    <main class="stats">
      <ng-container *ngIf="stats$ | async as stats">
        <div>
        <h3>Overview</h3>
        <div class="grid grid-cols-[max-content_auto] grid__wrapper">
          <div class="grid__container">
            <h3>Users</h3>
            <div class="">
              <app-pie-chart [data]="{
                Business: stats.business,
                Investors: stats.investors,
                Advisors: stats.advisors,
                Staff: stats.staff
              }" />
            </div>
          </div>
          <div class="grid__container">
            <h3>Recent Signups</h3>
            <p-table [value]="users" [paginator]="false"> 
              <ng-template pTemplate="header">
                <tr>
                  <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                    <span class="header-container">
                      <span class="header-text">
                        {{col.header}}
                      </span>
                    </span>
                  </th>
                </tr>
          </ng-template>
            <ng-template pTemplate="body" let-user>
              <tr>
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.roles | roleformat}}</td>
                
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="5">No recent signups recorded.</td>
              </tr>
            </ng-template>
          </p-table>
          </div>
        </div>
      </div>

      <div>
        <h3>Business</h3>
        <div class="grid grid-cols-2 grid__wrapper">
          <div class="grid__container">
            <h3>Businesses per sector</h3>
            <div class="">
              <app-pie-chart [data]="{
                Business: stats.business,
                Investors: stats.investors,
                Advisors: stats.advisors,
                Staff: stats.staff
              }" />
            </div>
          </div>
          <div class="grid__container">
            <h3>Businesses per country</h3>
            <div class="">
              <app-geo-chart />
            </div>
          </div>
          <div class="grid__container">
            <h3>Businesses per Stage</h3>
            <div class="">
              <app-pie-chart [data]="{
                Business: stats.business,
                Investors: stats.investors,
                Advisors: stats.advisors,
                Staff: stats.staff
              }" />
            </div>
          </div>
          <div class="grid__container">
            <h3>Businesses per Use of funds</h3>
            <div class="">
              <app-geo-chart />
            </div>
          </div>
        </div>
      </div>

      <div>
        <h3>Investors</h3>
        <div class="grid grid-cols-2 grid__wrapper">
          <div class="grid__container">
            <h3>Investors per sector</h3>
            <div class="">
              <app-pie-chart [data]="{
                Business: stats.business,
                Investors: stats.investors,
                Advisors: stats.advisors,
                Staff: stats.staff
              }" />
            </div>
          </div>
          <div class="grid__container">
            <h3>Investors per funding type</h3>
            <div class="">
              <app-geo-chart />
            </div>
          </div>
          <div class="grid__container">
            <h3>Investors per minimum funding</h3>
            <div class="">
              <app-pie-chart [data]="{
                Business: stats.business,
                Investors: stats.investors,
                Advisors: stats.advisors,
                Staff: stats.staff
              }" />
            </div>
          </div>
          <div class="grid__container">
            <h3>Investors per maximum funding</h3>
            <div class="">
              <app-geo-chart />
            </div>
          </div>
        </div>
      </div>
        
        <!-- <div class="grid grid-cols-2">
          <div class="">
            <h3>Sectors</h3>
            <div class=""> -->
              <!-- <app-bubble-chart /> -->
            <!-- </div>
          </div> -->
          <!-- <div class="">
            <h3>Use Of Funds</h3>
            <div class=""> -->
              <!-- <app-bubble-chart /> -->
            <!-- </div>
          </div>
        </div> -->
        <!-- <div class="grid grid-cols-2">
          <div class="">
            <h3>Stages</h3>
            <div class="">
              <app-bar-chart />
            </div>
          </div>
        </div> -->







        <!-- <section class="stats__section">
          <h3 class="text-base stat__title">Business</h3>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <div class="bg-[#064635e5] h-[200px] rounded-lg stat__card">
              <span class="text-right"><mat-icon>handshake</mat-icon></span>
              <div>
                <h2 class="value">{{matches.connected}}</h2>
                <p>Connected</p>
              </div>
            </div>
            <div class="bg-[#654f29e3] h-[200px] rounded-lg stat__card">
              <span class="text-right"><mat-icon>thumb_up</mat-icon></span>
              <div>
                <h2 class="value">{{matches.interesting}}</h2>
                <p>Interesting</p>
              </div>
            </div>
            <div class="bg-rose-950 h-[200px] rounded-lg stat__card">
              <span class="text-right"><mat-icon>thumb_down</mat-icon></span>
              <div>
                <h2 class="value">{{matches.declined}}</h2>
                <p>Declined</p>
              </div>
            </div>
          </div>
        </section>
        <section class="stats__section">
          <h3 class="stat__title">Users</h3>
          <div class="grid grid-cols-2 gap-8 lg:grid-cols-4">
            <div class="bg-[#232435d7] text-white rounded flex items-center gap-4  user__card">
                <span class="rounded bg__icon"><mat-icon>group</mat-icon></span>
                <div>
                  <span>{{matches.investors}}</span>
                  <p>Investors</p>
                </div>
            </div>
            <div class="bg-[#232435d7] text-white rounded flex items-center gap-4  user__card">
              <span class="rounded bg__icon"><mat-icon>apartment</mat-icon></span>
              <div>
                <span>{{matches.business}}</span>
                <p>Business</p>
              </div>
            </div>
            <div class="bg-[#232435d7] text-white rounded flex items-center gap-4  user__card">
              <span class="rounded bg__icon"><mat-icon>support_agent</mat-icon></span>
              <div>
                <span>{{matches.advisors}}</span>
                <p>Advisors</p>
              </div>
            </div>
            <div class="bg-[#232435d7] text-white rounded flex items-center gap-4  user__card">
              <span class="rounded bg__icon"><mat-icon>admin_panel_settings</mat-icon></span>
              <div>
                <span>{{matches.staff}}</span>
                <p>Staff</p>
              </div>
            </div>
          </div>
        </section> -->
  
      </ng-container>
     
    </main>
  </div>
</app-admin-ui-container>