<ng-container *ngIf="users$ | async"></ng-container>
<ng-container *ngIf="analytics$ | async"></ng-container>

<app-admin-ui-container [title]="'Analytics'">
  <div class="main">
    <main class="stats">
      <ng-container *ngIf="stats$ | async as stats">
        <div>
        <h3>Overview</h3>
        <div class="grid grid-cols-[max-content_auto] grid__wrapper">
          <div class="grid__container">
            <h3>Users</h3>
            <div class="">
              <app-pie-chart [data]="{
                Business: stats.business,
                Investors: stats.investors,
                Advisors: stats.advisors,
                Staff: stats.staff
              }" />
            </div>
          </div>
          <div class="grid__container">
            <h3>Recent Signups</h3>
            <p-table [value]="users" [paginator]="false"> 
              <ng-template pTemplate="header">
                <tr>
                  <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                    <span class="header-container">
                      <span class="header-text">
                        {{col.header}}
                      </span>
                    </span>
                  </th>
                </tr>
          </ng-template>
            <ng-template pTemplate="body" let-user>
              <tr>
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.roles | roleformat}}</td>
                
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="5">No recent signups recorded.</td>
              </tr>
            </ng-template>
          </p-table>
          </div>
        </div>
      </div>

      <div>
        <h3>Business</h3>
        <div class="grid grid-cols-2 grid__wrapper">
          <div class="grid__container">
            <h3>Businesses per sector</h3>
            <div class="">
              <app-horizontal-barchart [data]="sectorStats.companies" ylabel="Sectors" xlabel="Businesses" *ngIf="sectorStats"/>
            </div>
          </div>
          <div class="grid__container">
            <h3>Businesses per country</h3>
            <div class="">
              <app-geo-chart [data]="businessCountriesStats" *ngIf="businessCountriesStats"/>
            </div>
          </div>
          <div class="grid__container">
            <h3>Businesses per Stage</h3>
            <div class="">
              <app-horizontal-barchart [data]="stagesStats" ylabel="Stages" xlabel="Businesses" *ngIf="stagesStats"/>
            </div>
          </div>
          <div class="grid__container">
            <h3>Businesses per Use of funds</h3>
            <div class="">
              <app-horizontal-barchart [data]="fundingStats.companies" ylabel="Use" xlabel="Businesses" *ngIf="fundingStats"/>
            </div>
          </div>
          <div class="grid__container">
            <h3>Businesses per Fund Raise</h3>
            <div class="">
              <app-column-chart [data]="fundRaise" *ngIf="fundRaise"/>
            </div>
          </div>
          <div class="grid__container">
            <h3>Business-Investor Engagements</h3>
            <div class="h-full flex w-full justify-center">
              <app-pie-chart [data]="{
                Interesting: stats.interesting,
                Connected: stats.connected,
                Declined: stats.declined
              }" />
            </div>
          </div>
        </div>
      </div>

      <div>
        <h3>Investors</h3>
        <div class="grid grid-cols-2 grid__wrapper">
          <div class="grid__container">
            <h3>Investors Intresested per sector</h3>
            <div class="">
              <app-horizontal-barchart [data]="sectorStats.investors" ylabel="Sectors" xlabel="Investors" *ngIf="sectorStats"/>
            </div>
          </div>
          <div class="grid__container">
            <h3>Investors per funding type</h3>
            <div class="">
              <app-horizontal-barchart [data]="fundingStats.investors" ylabel="Type" xlabel="Investors" *ngIf="fundingStats"/>
            </div>
          </div>
          <div class="grid__container">
            <h3>Investors per minimum funding</h3>
            <div class="">
              <app-column-chart [data]="minFunding" *ngIf="minFunding" xlabel="Band" ylabel="Investors"/>
            </div>
          </div>
          <div class="grid__container">
            <h3>Investors per maximum funding</h3>
            <div class="">
              <app-column-chart [data]="maxFunding" *ngIf="maxFunding" xlabel="Band" ylabel="Investors"/>
            </div>
          </div>
        </div>
      </div>
        
      </ng-container>
     
    </main>
  </div>
</app-admin-ui-container>