@import "../../../styles/main";

.diag-title{
  font-size: 1.35rem;
  font-weight: 700!important;
  font-family: $font-family-sans-serif;
  line-height: 1.5rem;
  color: #1C1C1E;
  padding: 0;
  margin: 0;
}
.diag-help-text{
  padding: 0;
  margin: 0;
  font-size: .8rem;
  line-height: 1.5rem;
  font-family: $font-family-sans-serif;
}

.modal{
  z-index: 900;
}

p-dialog {
  z-index: 1000; /* Lower than the confirmation dialog */
}

p-dialog .ui-dialog {
  z-index: 1000; /* Lower than the confirmation dialog */
}

p-dialog .ui-dialog-mask {
  z-index: 900; /* Lower than the modal and confirmation dialog */
}

:host ::ng-deep .p-paginator{
  padding-top: 2rem;
  justify-content: flex-start!important;
}

:host ::ng-deep .p-datatable{
  tr{
    transition: all .2s linear;
    cursor: default;
    &:nth-child(even){
      background-color: #f9f9f9;
    }
    &:hover{
      background-color: #654f291a;
    }
    td, th{
      padding: 1rem 0 1rem .5rem;
    }
    th{
      background-color: #f4f4f5;
     span{
        padding: 0 .5rem;
        justify-content: flex-start;
        background-color: transparent!important;
     }
    }
  }
}