<div class="main">
  <div class="navbar">
<!--    <button (click)="toggleVisibility()"><mat-icon>menu</mat-icon></button>-->
    <app-navbar onDashboard="true" />
  </div>

  <main>
    <div class="left flex flex-col gap-12 ">
      <div class="content">
        <h2>My documents</h2>
      </div>
      <div class="flex flex-col gap-12 py-12">
        <app-task-action [title]="'Business Teaser'" [description] ="'Upload your Business teaser'" [actions]="task_one"/>
        <app-task-action [title]="'Business Valuation'" [description] ="'Upload your Business Valuation documents'" [actions]="task_two"/>
        <app-task-action [title]="'Pitch Deck'" [description] ="'Upload your business pitch deck'" [actions]="task_three"/>
        <app-task-action [title]="'Financial Model'" [description] ="'Upload your financial model'" [actions]="task_four"/>
      </div>

    </div>
    <div class="right__col">
      <!-- <app-assessment-summary [title]="'Assessment Summary'" component="assessment" [body]="'You need to have a proper plan in place. Reach out to one of our advisors to help you create a strong and effective strategy.'" [linkLabel]="'Unlock the whole summary'"/> -->


      <div class="wrapper">
        <h2>Assessment Summary</h2>
        <div class="body">
          <p>You need to have a proper plan in place. Reach out to one of our advisors to help you create a strong and effective strategy</p>                
          <!-- <a  [routerLink]="['/business']"><span>Unlock the whole summary</span><mat-icon *ngIf="component=='assessment'">chevron_right</mat-icon></a>  -->
        </div>
      </div>



      <section class="main__section">
        <div class="overlay">
          <h2>Advertise Here</h2>
          <p>This space is available for your advertising needs. Contact us to learn more</p>
          <a href="mailto:services@capitalconnect.africa" class="button"><span>Book Space</span> <mat-icon>chevron_right</mat-icon></a>
        </div>
      </section>













      <!-- <app-advertisement-space [title]="'Advertise Here'" [body]="'This space is available for your advertising needs. Contact us to learn more!'" /> -->
    </div>
  </main>
</div>

