@import '../../../../styles/fonts.scss';
@import '../../../../styles/colors.scss';
*{
    font-family: $font-family-inter!important;
}

h3{
    font-size: 1.25rem;
    line-height: 1.25rem;
}
.inner__html{
    color: #000000;
    font-size: .9rem;
    margin: 10px 0;
    line-height: 1.4;
    font-family: $font-family-sans-serif;
    // max-height: 150px;
    // overflow: hidden;
  }

.top__bar{
    padding: 0 0 1rem 0;
    h2{
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1.2rem;
    }
}

.feature-list {
    list-style-type: disc !important;  /* Adds bullet points */
    padding-left: 20px;     /* Adds padding to align bullets */
    font-size: 0.9em;       /* Adjust font size to be a bit smaller */
    color: #333;            /* Optional: change text color for styling */
}

.feature-list li {
    margin-bottom: 4px;     /* Adds space between each list item */
}

.feature-list li {
    // list-style-type: lower-alpha !important;  /* Force bullet display on each item */
    margin-bottom: 4px;                
    padding-left: 20px;                /* Adds padding for each list item */
    font-size: 0.9em;
    color: #333;
}

.feature-list li::before {
    content: "➤"; /* Right arrow pointer */
    margin-right: 8px;
    color: #333; /* Optional: Customize color */
    font-size: 0.9em; /* Optional: Customize size */
}


.action__button{
    display: block;
    cursor: pointer;
    text-align: center;
    transition: all .2s linear;
    border: thin solid $primary-color;
    &:hover,&:focus{
        color: white;
        border-color: transparent;
        background-color: $primary-color;
    }

    &.selected{
        cursor: default;
        border: thin solid $primary-color;
        &:hover,&:focus{
            background-color: $primary-color;
        }
    }
}

.tier{
    box-shadow: 0 0 5px rgba($color: #fdfcfd, $alpha: .5);
}