@import '../../../../styles/fonts.scss';
@import '../../../../styles/colors.scss';
*{
    font-family: $font-family-inter!important;
}

h3{
    font-size: 1.25rem;
    line-height: 1.25rem;
}
.inner__html{
    color: #000000;
    font-size: .9rem;
    margin: 10px 0;
    line-height: 1.4;
    font-family: $font-family-sans-serif;
    // max-height: 150px;
    // overflow: hidden;
  }

.top__bar{
    padding: 0 0 1rem 0;
    h2{
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1.2rem;
    }
}

.action__button{
    display: block;
    cursor: pointer;
    text-align: center;
    transition: all .2s linear;
    border: thin solid $primary-color;
    &:hover,&:focus{
        color: white;
        border-color: transparent;
        background-color: $primary-color;
    }

    &.selected{
        cursor: default;
        border: thin solid $primary-color;
        &:hover,&:focus{
            background-color: $primary-color;
        }
    }
}

.tier{
    box-shadow: 0 0 5px rgba($color: #fdfcfd, $alpha: .5);
}