<ng-container *ngIf="createMeeting$ | async" />


<div class="main">
  <div class="navbar">
    <app-navbar [showBanner]="false" title="Advisory Sessions" [isAdmin]="false" onDashboard="true" />
  </div>
  <main>
    <div class="left__col">
      <div class="advisory-page">
        <div class="form_content__container add-session-form">
          <div class="iframe-container">
            <!-- <iframe src="https://calendly.com/investor-eligibility/advisory-sessions?month=2025-02"></iframe> -->
            <iframe [src]="'https://calendly.com/investor-eligibility/advisory-sessions?month=2025-02&utm_content=' + bookingId"></iframe>
          </div>
        </div>
      </div>

    </div>
 

    <div class="right__col">
      <app-advertisement-space [title]="'Advertise Here'"
        [body]="'This space is available for your advertising needs to reach more businesses. Contact us to learn more!'" />
    </div>
  </main>

</div>