<ng-container *ngIf="specialCriteria$  | async"></ng-container>
<ng-container *ngIf="delete$ | async"></ng-container>
<ng-container *ngIf="deleteConf$ | async"></ng-container>


<div class="main">
    <div class="navbar">
        <app-navbar [showBanner]="showBanner" onDashboard="true" />
    </div>

    <div class="main__content">
        <section class="col__right">
            <div class="flex justify-between top__details">
                <h6 class="top__txt" >Special Criteria</h6>
                <div class="">
                    <a [routerLink]="['/investor/create-special-criteria']"> <button class="btn btn-primary text-light">Create Special Criteria</button></a>
                </div>
            </div>


            <p-table [value]="specialCriteria" [paginator]="true" [rows]="10" [tableStyle]="{ 'width': '100%' }">
                <!-- Table Header -->
                <ng-template pTemplate="header">
                  <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>View</th>
                    <th>Delete</th>
                  </tr>
                </ng-template>
              
                <!-- Table Body -->
                <ng-template pTemplate="body" let-criteria let-i="rowIndex">
                  <tr>
                    <td><strong>{{ i + 1 }}</strong></td>
                    <td>{{ criteria.title }}</td>
                    <td>{{ criteria.description }}</td>
                    <td>
                     
                        <mat-icon
                        [routerLink]="['/investor/view-special-criteria', criteria.id]"
                        class="small-icon">visibility</mat-icon>
                   
                    </td>
                    <td>
                      <button class="btn btn-danger btn-sm text-xs" (click)="deleteCriteria(criteria.id)">
                        <mat-icon class="small-icon">delete</mat-icon>
                      </button>
                    </td>
                  </tr>
                </ng-template>
              
                <!-- Paginator -->
                <mat-paginator [length]="specialCriteria.length" [pageSize]="10" [pageSizeOptions]="[5, 10]"></mat-paginator>
              </p-table>
              
        </section>

        <section class="col__left">
            <!-- <button class="btn btn-primary">Create Special Criteria</button> -->
            <app-advertisement-space [title]="'Advertise Here'"
            [body]="'This space is available for your advertising needs to reach more businesses. Contact us to learn more!'" />
        </section>

    </div>




</div>




