<ng-container *ngIf="specialCriteriaId$ | async"></ng-container>

<ng-container *ngIf="update$ | async"></ng-container>
<ng-container *ngIf="questions$ | async"></ng-container>
<ng-container *ngIf="addQuestions$ | async"></ng-container>
<ng-container *ngIf="removeQuestions$ | async"></ng-container>
<ng-container *ngIf="addCustomQuestions$ | async"></ng-container>
<ng-container *ngIf="createAnwer$ | async"></ng-container>
<ng-container *ngIf="deleteConf$ | async"></ng-container>
<ng-container *ngIf="getSpecialCriteriaCompanies$ | async"></ng-container>
<ng-container *ngIf="markAsInteresting$ | async"></ng-container>
<ng-container *ngIf="declineReasons$ | async"></ng-container>
<ng-container *ngIf="cancelInterestWithCompany$ | async"></ng-container>



<div class="main">
  <div class="navbar">
    <app-navbar [showBanner]="showBanner" onDashboard="true"></app-navbar>
  </div>

<main>
  <p>Special Criteria Details</p>

  <div class="main__content">
    <section class="left__col ">
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <p>
            <button (click)="goToSpecialCriteria()" class="" style="display: flex; align-items: center;">
            <mat-icon style="color: rgb(7, 32, 2); cursor: pointer; margin-right: 5px;">
              arrow_back
            </mat-icon>
            <strong>Back</strong>
          </button>
        </p>

        <p style="display: inline-flex; align-items: center; cursor: pointer;margin-top: 1cm; margin-bottom: 1cm;" (click)="onUpdate()">
          <mat-icon style="color: green(216, 9, 9); cursor: pointer;">edit</mat-icon>            
          <strong >Edit Criteria</strong>
        </p>
      </div>
      
    
      <div class="flex justify-betweeen"> 
        <ng-container *ngIf="getSpecialCriteria$ | async">
        <div *ngIf="specialCriteria" style="display: flex; align-items: center; justify-content: space-between;">
          <div>
            <h3 class="special__criteria__title">{{ specialCriteria.title }} <span *ngIf="special__criteria__companies">Companies</span>  <span *ngIf="!special__criteria__companies " class="special__criteria__description"> : {{ specialCriteria.description }} </span></h3>
          </div>
        </div>
        </ng-container>
      </div>


      <div *ngIf="loading; else showQuestions">
        <p-skeleton height="8rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton height="8rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton height="8rem" styleClass="mb-2"></p-skeleton>
      </div>
      
      <ng-template #showQuestions>      
      <div *ngIf="!special__criteria__companies">
        <hr class="question-separator" /> 

        <div class="flex justify-between">
          <p class="ques">Questions</p>
          <p style="display: inline-flex; align-items: center; cursor: pointer;" (click)="onAdd()">
           <mat-icon style="color: green(216, 9, 9); cursor: pointer;">add</mat-icon> <strong>Add Questions</strong>     
          </p>
          
        </div>
    

        <div *ngFor="let question of specialCriteria.questions; let i = index" class="question__container">
          <div class="flex justify-between">
            <div>
              <p class="question__text">
                <strong class="ques">{{ i + 1 }}. {{ question.text }}</strong>
              </p>
            </div>
            <div class="action__icons">
              <button mat-icon-button>
                <mat-icon style="color: rgb(216, 9, 9); cursor: pointer;"
                  (click)="onQuestionsRemove(question.id)">delete</mat-icon>
              </button>
            </div>
          </div>
        
          <div *ngIf="question.type === 'TRUE_FALSE'">
            <label *ngFor="let answer of question.answers">
              <input type="radio" name="question_{{ question.id }}" [value]="answer.text" />
              {{ answer.text }}
            </label>
          </div>
        
          <div *ngIf="question.type === 'SHORT_ANSWER'">
            <input type="text" placeholder="OPEN" name="question_{{ question.id }}" class="input__field" />
          </div>
        
          <div *ngIf="question.type === 'SINGLE_CHOICE'">
            <label *ngFor="let answer of question.answers">
              <input type="radio" name="question_{{ question.id }}" [value]="answer.text" />{{ answer.text }}
            </label>
          </div>
        
          <div *ngIf="question.type === 'MULTIPLE_CHOICE'">
            <label *ngFor="let answer of question.answers">
              <input type="checkbox" name="question_{{ question.id }}" [value]="answer.text" />{{ answer.text }}
            </label>
          </div>
        
        </div>
        
      </div>
      </ng-template>





      <div *ngIf="special__criteria__companies" class="special__criteria__companies flex flex-col gap-4">
        <!-- <p-table [value]="SpecialCriteriaCompanies" [tableStyle]="{ 'width': '100%' }" [paginator]="true" [rows]="10">
          <ng-template pTemplate="header">
            <tr>
              <th>#</th>
              <th>Country</th>
              <th>Business Sector</th>
              <th>Sub Sector</th>
              <th>Growth Stage</th>
              <th>Score</th>
              <th>Actions</th>
            </tr>
          </ng-template>
      
          <ng-template pTemplate="body" let-business let-i="rowIndex">
            
            <tr>
              <td><strong>{{ i + 1 }}</strong></td>
              <td class="">{{ business.country ? business.country : "N/A" }}</td>
              <td class="">{{ business.businessSector ? business.businessSector : "N/A" }}</td>
              <td class="">{{ business.businessSubsector ? business.businessSubsector : "N/A"  }}</td>
              <td class="">{{ business.growthStage ? business.growthStage :"N/A"}}</td>
              <td class="">{{business.percentageScore}} %</td>
      
              <td class="flex space-x-1 items-center gap-2">
                <button class="btn btn-sm text-xs " (click)="showInterest(business.id)"
                [disabled]="business.status === 'interesting'"
                >Interested</button>
                <button class="btn btn-danger btn-sm text-xs " 
                [disabled]="business.status === 'declined'"
                (click)="openModal(business.id)">Decline</button>
              </td>
            </tr>
          </ng-template>
        </p-table> -->
        
      
      
        <p-table [value]="SpecialCriteriaCompanies" [tableStyle]="{ 'width': '100%' }" [paginator]="true" [rows]="10" [filterDelay]="500">
          <ng-template pTemplate="header">
            <tr>
              <th></th>
              <th>
                Country
                <p-columnFilter type="text" field="country"></p-columnFilter>
              </th>
              <th>
                Sector
                <p-columnFilter type="text" field="businessSector"></p-columnFilter>
              </th>
              <th >
                Sub Sector
                <p-columnFilter type="text" field="businessSubsector"></p-columnFilter>
              </th>
              <th >
                Growth Stage
                <p-columnFilter type="text" field="growthStage"></p-columnFilter>
              </th>
              <th pSortableColumn="percentageScore">
                Score
                <p-sortIcon field="percentageScore"></p-sortIcon>
              </th>
              <th>Actions</th>
            </tr>
          </ng-template>
        
          <ng-template pTemplate="body" let-business let-i="rowIndex">
            <tr>
              <td><strong>{{ i + 1 }}</strong></td>
              <td>{{ business.country ? business.country : "N/A" }}</td>
              <td>{{ business.businessSector ? business.businessSector : "N/A" }}</td>
              <td>{{ business.businessSubsector ? business.businessSubsector : "N/A"  }}</td>
              <td>{{ business.growthStage ? business.growthStage : "N/A" }}</td>
              <td>{{ business.percentageScore }} %</td>
              <td class="flex space-x-1 items-center gap-2">
                <button class="btn btn-sm text-xs" (click)="showInterest(business.id)" [disabled]="business.status === 'interesting'">Interested</button>
                <button class="btn btn-danger btn-sm text-xs" [disabled]="business.status === 'declined'" (click)="openModal(business.id)">Decline</button>
              </td>
            </tr>
          </ng-template>
        </p-table>
        
      
      
      
      
      
      
      </div>
      


    </section>

    <section class="right__col">
    <app-card [detail]="{title: 'Special Criteria Companies', value: SpecialCriteriaCompanies.length ? SpecialCriteriaCompanies.length.toString() : '', featured: true}" (click)="scComp()">
      <p class="helper__text text__yellow">{{ SpecialCriteriaCompanies.length ? SpecialCriteriaCompanies.length.toString() : '' }} companies have filled this criteria</p>
    </app-card>
    
    <app-advertisement-space [title]="'Advertise Here'" [body]="'This space is available for your advertising needs to reach more businesses. Contact us to learn more!'" />

    </section>
  </div>
</main>
</div>

<app-modal [(visible)]="add_custom_ques" title="Custom Question" helperText="Add A custom question">
  <form [formGroup]="customQuestionsForm" *ngIf="!add_custom_answers" (ngSubmit)="onCustomQuestionsSubmit()">
    <div class="form_content__container">
      <div class="input__wrapper">
        <label class="input__label">Question<sup>*</sup></label>
        <input class="input__field" formControlName="text" type="text" placeholder="Enter Question" />
      </div>
      <div class="cta__group">
        <button class="btn btn-primary" [disabled]="!customQuestionsForm.valid">Submit</button>
      </div>
    </div>
  </form>
</app-modal>


<app-modal [(visible)]="add_custom_ques" title="Custom Question" helperText="Add A custom question">

  <form [formGroup]="customQuestionsForm" *ngIf="!add_custom_answers" (ngSubmit)="onCustomQuestionsSubmit()">
    <div class="form_content__container">
      <div class="input__wrapper">
        <label class="input__label">Question<sup>*</sup></label>
        <input class="input__field" formControlName="text" type="text" placeholder="Enter Question" />
      </div>



      <div class="input__wrapper">
        <div class="form__row">
          <div class="form__col">
            <label class="input__label">Question Type <sup>*</sup></label>
            <p-dropdown class="input__field" styleClass="w-full gap-4" formControlName="type" [options]="question_types"
              placeholder="Question Type"></p-dropdown>

          </div>

          <div class="form__col">
            <label class="input__label">Question Order<sup>*</sup></label>
            <input class="input__field" formControlName="order" type="number" placeholder="Enter Question Order" />
          </div>
        </div>
      </div>

      <div class="input__wrapper">
        <label class="input__label">Question Description<sup>*</sup></label>
        <input class="input__field" formControlName="tooltip" type="text" placeholder="Enter Question Description" />
      </div>


      <div class="cta__group">
        <button class="btn btn-primar" [disabled]="!customQuestionsForm.valid"
          [ngClass]="{'disabled-btn': !customQuestionsForm}">Submit</button>
      </div>
    </div>
  </form>


  <form *ngIf="add_custom_answers" [formGroup]="customAnswersForm" (ngSubmit)="onCustomAnswersSubmit()">
    <div class="form_content__container">
      <p>{{customQuestionResponse.text}}</p>

      <div class="input__wrapper">
        <div class="form__row">
          <div class="form__col">
            <div class="input__wrapper">
              <label class="input__label">Create answer<sup>*</sup></label>
              <input formControlName="text" class="input__field" placeholder="create answer" />
            </div>
          </div>
          <div class="form__col">
            <div class="input__wrapper">
              <label class="input__label">Answer rating<sup>*</sup></label>
              <input formControlName="weight" class="input__field" type="number" min="0"
                placeholder="enter answer score" />
            </div>
          </div>
        </div>
      </div>



      <div class="cta__group">
        <button *ngIf="multiple_answers" type="button" class="btn btn-danger text-light cta_a"
          (click)="cancel()">Cancel</button>

        <button class="btn btn-primar" type="submit" [disabled]="!customAnswersForm.valid"
          [ngClass]="{'disabled-btn': !customAnswersForm}">Submit {{ multiple_answers ? "And Add Another":""}}</button>
      </div>
    </div>
  </form>



</app-modal>




<app-modal [(visible)]="decline" title="Reasons for declining" helperText="Tell us why you are declining">
  <form [formGroup]="declineForm ">
  <div class="form_content__container">
    <div class="input__wrapper">
      <label class="input__label">Select The Reasons for Declining<sup>*</sup></label>
      <p-multiSelect 
      class="input__field p-6"  
      styleClass="w-full gap-4" 
      optionValue="reason"
       [options]="declineReasons"
        formControlName="reasons" optionLabel="reason" placeholder="Select reasons"></p-multiSelect>
  
      <div class="button-group mt-4 flex end flex justify-end space-x-4 mt-6">
        <div class="cta__group">
          <button pButton type="button" class="btn btn-primary mt-5" label="Submit" (click)="submit()">Submit</button>
        </div>
      </div>
    </div>
  </div> 
  </form>
</app-modal>


<!-- Add questions Modal -->
<app-modal [(visible)]="addQues" title="Special Criteria" helperText="Add Questions To Special Criteria">
  <div *ngIf="addQues" class="">
    <form [formGroup]="questionsForm" (ngSubmit)="onQuestionsSubmit()">
      <div class="">
        <div class="input__wrapper">
          <label class="input__label">Add Questions To Special Criteria</label>
          <p-multiSelect class="input__field" formControlName="questionIds" [options]="questions"
           optionValue="id"
           styleClass="w-full gap-4"
            optionLabel="text" placeholder="Select questions"></p-multiSelect>
        </div>
        <div class="cta__group">  
          <button class="btn btn-primary" [disabled]="!questionsForm.valid">Add Selected Questions</button>
        </div>
      </div>
    </form>
  </div>

  <a class="cta__link cta__link__txt" (click)="addCustomQues()">Did not find the question?  </a>

    <a class="cta__link cta__group" (click)="addCustomQues()"> 
      <button class="btn">Add Custom Questions Here</button>
      </a>
</app-modal>



<!-- Update Criteria -->
<app-modal [(visible)]="updatePage" title="Edit Special Criteria" helperText="Update Special criteria Information">
<div  class="form__section">
  <form [formGroup]="specialCriteriaForm" (ngSubmit)="onSubmit()">
    <div class="form_content__container">
      <div class="input__wrapper">
        <label class="input__label">Title<sup>*</sup></label>
        <input class="input__field" formControlName="title" type="text" placeholder="Enter Criteria Title" />
      </div>

      <div class="input__wrapper">
        <label class="input__label">Description<sup>*</sup></label>
        <input class="input__field" formControlName="description" type="text"
          placeholder="Enter Criteria Description" />
      </div>

      <div class="cta__group">
        <a></a>
        <button class="btn btn-primary" [disabled]="!specialCriteriaForm.valid">Update</button>
      </div>
    </div>
  </form>
</div>
</app-modal>



<app-modal [(visible)]="decline" title="Reasons for declining" helperText="Tell us why you are declining">
  <form [formGroup]="declineForm">
    <div class="form_content__container">
      <div class="input__wrapper">
        <label class="input__label">Select The Reasons for Declining<sup>*</sup></label>
        <p-multiSelect class="input__field p-6" styleClass="w-full gap-4" optionValue="reason"
          [options]="declineReasons" formControlName="reasons" optionLabel="reason"
          placeholder="Select reasons"></p-multiSelect>

        <div class="button-group mt-4 flex end flex justify-end space-x-4 mt-6">
          <div class="cta__group">
            <button pButton type="button" class="btn btn-primary mt-5" label="Submit" 
            [disabled]="!declineForm.valid"
            (click)="submit()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</app-modal>
