@import "../../../../styles/main.scss";

.main{
  height: 100%;
  display: grid;
  background-color: #F9FAFB;
  .navbar{
    display: flex;
    padding-left: 1rem;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    button{
      display: flex;
      background: none;
    }
  }
  main{
    gap: 2rem;
    display: grid;
    padding: 1rem;
    .brand__name{
      color: #031D16;
      font-weight: 700;
      line-height: 2rem;
      font-size: 1.35rem;
      font-family: $font-family-sans-serif;
    }
    .left__col,
    .right__col{
      width: 100%;
      gap: 1rem;
      display: flex;
      flex-direction: column;
    }
    .right__col{
      gap: 2rem;
    }
  }
}


@include when-screen-is-atleast(medium){
  .main{

    .navbar{
      padding: 0;
      display: block;
      button{
        display: none;
      }
    }
    main{
      .brand__name{
        display: none;
      }
      .right__col{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@include when-screen-is-atleast(large){
  .main{
    grid-template-rows: max-content auto;

    main{
      grid-template-columns: auto 360px;
      padding: 1rem 2rem;
      .right__col{
        display: flex;
      }
    }
  }
}


.no-data{
  height: 100%;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: $font-family-sans-serif;
  line-height: 1.5rem;
  color: #1C1C1E;
}

.details{
  margin: auto;
  padding: 1cm;
}

.eye {
  cursor: pointer;
  display: flex;
  align-items: center; /* Vertically center the icon */
  justify-content: center; /* Horizontally center the icon */
  padding: 0.5rem; /* Adjust padding as needed */
}

.small-icon {
  font-size: 1.2rem; /* Adjust the size of the icon */
}

.btn{
  padding: 12px 40px;
  font-family: $font-family-sans-serif;
}

tbody tr{
  text-align: center;
  font-family: $font-family-sans-serif;
}

th{
  text-align: start;
}

.table-parent{
  margin: 20px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 10px;
}


.business-details{
  padding-bottom: 1rem;
  .flex-layout{
    padding: .75rem .5rem;
  }
  span{
    flex: 1;
    color: #1C1C1E;
    font-weight: 700;
    display: block;
    text-align: left;
    padding: .75rem 1rem;
    font-family: $font-family-sans-serif;
    width: max-content;
  }
  .cta-group{
    flex: 5;
    gap: 1rem;
    a{
      font-weight: 500;
      color: #064635;
      font-size: 1rem;
      border-radius: 6px;
      border: 1px solid #064635;
      padding: .5rem 2rem;
    }

  }

}


.business-details {
  background-color: $white;
  border-radius: 0.5rem;
  box-shadow: 10px;
  color: $text-color;
  // font-family: $main-font;
  
  .details {
    margin-bottom: 2rem;

    p {
      margin: 0;
      line-height: 1.5;
      color: $gray-800;
      
      &.font-bold {
        font-weight: 700;
      }

      &.font-light {
        font-weight: 300;
      }

      &.font-medium {
        font-weight: 500;
      }

      &.font-normal {
        font-weight: 400;
      }
    }
  }

  .company__info {
    hr {
      margin: 1.5rem 0;
      border: 1px solid $gray-300;
    }

    .m-6 {
      margin: 1.5rem;
    }

    .text-gray-700 {
      color: $gray-700;
    }

    .font-bold {
      font-weight: 700;
    }

    .font-light {
      font-weight: 300;
    }
  }

  .feed_back {
    margin-top: 2rem;
    p {
      margin-bottom: 1rem;
      color: $gray-700;

      strong {
        font-weight: 600;
        color: $primary-color;
      }
    }
  }

  .executive-summary {
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: $gray-100;
    border-radius: 0.5rem;
    box-shadow: 5px;

    .score-section {
      h3 {
        margin-bottom: 0.5rem;
        color: $primary-color;
      }
      h2 {
        font-size: 2rem;
        color: $secondary-color;
      }
    }

    .title {
      font-size: 1.125rem;
      margin-top: 1.5rem;
      color: $primary-color;

      &.implication {
        color: $secondary-color;
      }
    }

    p {
      margin-top: 0.5rem;
      color: $gray-800;
    }
  }

  button {
    &.btn {
      border-radius: 0.25rem;
      padding: 0.5rem 1rem;
      font-size: 0.875rem;
      // font-family: $main-font;
    }

    &.btn-danger {
      background-color: $danger-color;
      color: $white;
    }

    &.btn-sm {
      padding: 0.25rem 0.5rem;
      font-size: 0.75rem;
    }

    &.bg-blue-500 {
      background-color: $primary-color;
      &:hover {
        background-color: $primary-color;
      }
    }

    &.text-xs {
      font-size: 0.75rem;
    }

    &.px-3 {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }

    &.py-1 {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
  }
}





@import '../../../business/styles/business.components.steps.scss';
.input__wrapper {
    margin-bottom: 1rem;
  }
  
  .pills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    color: $white;

  }
  
  .pill {
    position: relative;
    padding: 8px 12px;
    border-radius: 50px;
    background-color:$primary-color;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .pill.active {
    background-color: $success-color;
    color: $white;
  }
  
  .pill:hover {
    background-color:$success-color;
    color: $white;
  }
  
  .pill .close-btn {
    margin-left: 8px;
    cursor: pointer;
    font-weight: bold;
  }






  .selected-subsectors {
    margin-top: 1rem;
    
    h3 {
      margin-bottom: 0.5rem;
    }
  
    .selected-pill {
      display: inline-flex;
      align-items: center;
      padding: 8px 12px;
      border-radius: 50px;
      background-color: $success-color;
      color: $white;
      margin: 4px;
      cursor: default;
    }
  
    .remove-icon {
      margin-left: 8px;
      cursor: pointer;
      font-weight: bold;
    }
  }
  
  .pill {
    .remove-icon {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 12px;
      cursor: pointer;
      color: $white;
    }
  }

  .search{
    margin-top: -1cm;  
    margin-right: 20px;
    margin-left: 20px;
  }
  
  
  
  .tooltip {
    position: absolute;
    font-family: $font-family-roboto;
    background-color: $primary-color;
    color: $white;
    padding: 20px;
    border-radius: 4px;
    z-index: 1000;
    pointer-events: none;
    white-space: normal;  
    // opacity: 0.5;
    font-size: 12px;
    max-width: 400px;  
    word-wrap: break-word;  
  }