.table-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  
  .p-datatable-tbody > tr > td {
    padding: 15px 20px;
    text-align: left;
    height: 50px;
  }
  
  .full-width-table {
    width: 100%;
  }
  
  
  tr {
    height: 3rem !important;
  }
  
  
  :host ::ng-deep .p-datatable{
    tr{
      td {
        padding: 0 .5rem;
      }
      transition: all .2s linear;
      cursor: default;
      &:nth-child(even){
        background-color: #f9f9f9;
      }
      &:hover{
        background-color: #654f291a;
      }
      th{
        background-color: #f4f4f5;
       span{
          padding: 0 .4rem;
          justify-content: flex-start;
          background-color: transparent!important;
       }
      }
    }
}

.header__section{
  h3{
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1.25;
    padding: 0;
    margin: 0;
    &.h3{
      font-weight: 600;
      font-size: 1.5rem;
    }
  }
  p{
    font-size: .8rem;
    font-weight: 300;
  }
}

.link__input{
  padding: .75rem 2rem;
  border-radius: .5rem;
  border: 1px solid #8080804d;
}