.table-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  
  }
  
  
  .p-datatable-tbody > tr > td {
    padding: 15px 20px;
    text-align: left;
    height: 50px;
  }
  
  .full-width-table {
    width: 100%;
  }
  
  .header__section{
    h3{
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1;
    }
  }
  
  tr {
    height: 3rem !important;
  }
  
  
  :host ::ng-deep .p-datatable{
    tr{
      td {
        padding: 0 1rem;
      }
      transition: all .2s linear;
      cursor: default;
      &:nth-child(even){
        background-color: #f9f9f9;
      }
      &:hover{
        background-color: #654f291a;
      }
      th{
        background-color: #f4f4f5;
       span{
          padding: 0 .4rem;
          justify-content: flex-start;
          background-color: transparent!important;
       }
      }
    }
}


.h3 {
  font-size: 1.25rem!important;
  font-weight: 500;
}
.stat__card {
  padding: 0.5rem 1rem;
  color: #37332d;
  background-color: white;
}

.p__1rem {
  padding: 1rem;
}


::ng-deep .ag-theme-alpine {
  --ag-background-color: white;
  --ag-foreground-color: black;
  --ag-header-background-color: #f8f9fa;
  --ag-header-foreground-color: black;
  --ag-row-hover-color: #f1f1f1;
}
