@import "../../../../styles/main.scss";

.main__content{
  display: grid;
  min-height: 100svh;
  &.bg_gray{
    background-color: #e0e0e04d;
  }
}

@include when-screen-is-atleast(medium){
  .main__content{
    grid-template-columns: max-content auto;
  }
}
