<ng-container *ngIf="bookings$ | async"></ng-container>
<ng-container *ngIf="transactionStatus$ | async"></ng-container>
<ng-container *ngIf="getMeeting$ | async"></ng-container>


<div class="main">
  <div class="navbar">
    <app-navbar onDashboard="true"></app-navbar>
  </div>
  <main>
    <div class="left__col"> 
        <div class="flex flex-col gap-4" *ngIf="!iframe">
          <h6>My Bookings</h6>
          <p-table [value]="bookings" [tableStyle]="{ 'width': '100%' }" [paginator]="true" [rows]="10">
            <ng-template pTemplate="header">
              <tr>
                <th>#</th> <!--Booking Id-->
                <!-- <th>Event ID</th> -->
                <th>Created At</th>
                <th>Action</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-booking let-i="rowIndex">
              <tr>
                <td><strong>{{i+1}}</strong></td>
                <!-- <td class="">{{ booking.calendlyEventId  }}</td> -->
                <td class="">{{ booking.createdAt }}</td>
                <td><button class="btn btn-tertiary btn-sm" (click)="getMeeting(booking.calendlyEventId)">View Meeting</button></td>
              </tr>
  
            </ng-template>
          </p-table>

        </div>

        <!-- <p>{{webLink}}</p> -->


    

    </div>


    <div class="right__col" *ngIf="!iframe">
     
      <app-advertisement-space [title]="'Advertise Here'"
      [body]="'This space is available for your advertising needs to reach more businesses. Contact us to learn more!'" />
    </div>


   


  </main>

  <div *ngIf="iframe">
    <div class="cta">
      <button class="btn btn-sm btn-tertiary" (click)="back()">Back To Bookings</button>
      <a *ngIf="webLink" class="btn btn-secondary btn-sm" [href]="webLink" target="_blank">Go To Meeting</a>
    </div>
    <iframe *ngIf="webLink" [src]="webLink" width="100%" height="700" ></iframe>
  </div>
</div>
