<ng-container *ngIf="bookings$ | async"></ng-container>
<ng-container *ngIf="transactionStatus$ | async"></ng-container>
<ng-container *ngIf="getMeeting$ | async"></ng-container>


<div class="main">
  <div class="navbar">
    <app-navbar onDashboard="true"></app-navbar>
  </div>

  <main>
    <p class="brand__name">Booked Sessions</p>

    <div class="left__col">
 
        <div class="flex flex-col gap-4" *ngIf="!iframe">
          <p-table [value]="bookings" [tableStyle]="{ 'width': '100%' }" [paginator]="true" [rows]="10">
            <ng-template pTemplate="header">
              <tr>
                <th>#</th> <!--Booking Id-->
                <th>Event ID</th>
                <th>Created At</th>
                <th>Action</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-booking let-i="rowIndex">
              <tr>
                <td><strong>{{i+1}}</strong></td>
                <td class="">{{ booking.calendlyEventId  }}</td>
                <td class="">{{ booking.createdAt }}</td>
                <td><button class="btn btn-tertiary btn-sm" (click)="getMeeting(booking.calendlyEventId)">Get Meeting</button></td>
              </tr>
  
            </ng-template>
          </p-table>

        </div>

        <p>{{webLink}}</p>


         <div *ngIf="iframe">

          <!-- <a href="https://meet3.webex.com/meet3/j.php?MTID=m46bcba582c70d251340e2635bbaafaf5" target="_blank">Join Webex Meeting</a> -->
          <!-- <iframe src="https://meet3.webex.com/meet3/j.php?MTID=m46bcba582c70d251340e2635bbaafaf5" width="100%" height="700"></iframe> -->

          <iframe [src]="webLink" width="100%" height="700"></iframe>

          




        </div>

    </div>


    <div class="right__col">
      <app-advertisement-space [title]="'Advertise Here'"
      [body]="'This space is available for your advertising needs to reach more businesses. Contact us to learn more!'" />
    </div>


  </main>
</div>
