@import "../../../styles/main";

.overview__section{
  .title__bar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2{
      font-weight: 400;
      line-height: 15px;
      padding: .8rem 0;
      color: #000000a8;
      font-size: 15px!important;
      font-family: $font-family-inter;
    }

    select{
      display: block;
      cursor: pointer;
      border-radius: 1rem;
      padding: .5rem 1rem;
      background-color: #eef4ee;
    }
  }
  .cards__grid{
    gap: 2rem 1rem;
    display: grid;
    padding: .5rem 0;

    .helper__text{
      font-weight: 300;
      line-height: 10px;
      font-size: 10px!important;
      color: #000!important;
      font-family: $font-family-inter;
      &.text__yellow{
        color: $yellow-500;
      }
      &.text__red{
        color: $danger-color;
      }
    }
  }
}
@include when-screen-is-atleast(medium){
  .overview__section{
    .title__bar {
      h2 {
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    .cards__grid{
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include when-screen-is-atleast(xlarge){
  .overview__section{
    
    .cards__grid{
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
