@import "../../../../styles/main.scss";
@import '../../../business/styles/business.components.steps.scss';


.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.p-card {
  width: 300px;
}

.button-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 0;

  button {
    margin: 5px;
  }
}

.p-button {
  width: 15rem;
  padding: 2rem;
}

.stats__section{
  display: flex;
  padding-bottom: 2rem;
  flex-direction: column;
  .stat__title{
    font-size: 1.1rem;
    font-weight: 600;
    color: #333333d8;
    text-transform: uppercase;
  }
  .stat__card{
    padding: 1rem;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-between;
  }
  .user__card{
    padding: 1rem;

    .bg__icon{
      display: flex;
      width: max-content;
      height: max-content;
      padding: .5rem;
      background-color: rgba(255, 255, 255, 0.096);
    }
    p{
      margin: 0;
      padding: 0;
      line-height: 1rem;
    }
  }
}

.grid__wrapper{
  gap: 3rem;
  padding: 2rem 1rem;
  align-items: flex-start;
  border-radius: .8rem;
  background-color: rgba(255, 255, 255, 0.603);
}
.stats{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: -1rem!important;
  h3{
    font-size: 1rem;
    text-transform: uppercase;
    font-family: $font-family-inter;
  }
  .grid__container{
    h3{
      font-size: .9rem;
    }
  }

  .chart__wrapper{
    border-radius: .5rem;
    background-color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    padding: 1rem;
  }
}

.table-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}


.p-datatable-tbody > tr > td {
  padding: 15px 20px;
  text-align: left;
  height: 50px;
}

.full-width-table {
  width: 100%;
}


tr {
  height: 3rem !important;
}


.user-link {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: #0056b3;
  }
}

.btn{
  margin-top: .3cm;
}



.bio_info{
            
  padding: 50px 0 1rem 50px;
  h2{
      font-weight: bold;
      font-size: 1.2rem;
      font-family: $font-family-sans-serif;
  }
  p{
      gap: .5rem;
      display: flex;
      align-items: center;
  }
}



.card__item__details{
  gap: 2rem;
  display: flex;
  flex-direction: column;

  .card__item__detail,
  .card__item__detail_info {
      display: grid;
      div {
          display: flex;
          flex-direction: column;
          align-items: start;
          label {
          font-weight: bold;
          }
      
          p {
              margin: 0.25rem 0;
              color: #555;
          }
      }
  }
  .card__item__detail_info{
      gap: 1rem 0;
      padding-bottom: 1rem;
  }
}


@include when-screen-is-atleast(medium){
  .card__item__details{
      .card__item__detail_info {
       grid-template-columns: repeat(2, 1fr);
      }
  }
}

@include when-screen-is-atleast(large){
  .card__item__details{
      .card__item__detail_info {
       grid-template-columns: repeat(3, 1fr);
      }
  }
}














.sub-title,
.score-value{
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  font-family: $font-family-sans-serif;
}

.diag-body{
  display: flex;
  border-top: 1px solid #C9DDCC;
  border-bottom: 1px solid #C9DDCC;
  padding: 1.5rem 4rem .5rem 4rem;
}

.score-value{
  font-size: 2.15rem;
  color: $secondary-color;
  padding: .5rem 0 0 0;
}

.details{
  padding: 0 0 0 2rem;
  p{
    color: #000000;
  }
}
.call-to-action{
  padding-top: .5rem;
  a{
    color: $primary-color;
    display: block;
    text-decoration: none;
    border: 1px solid $primary-color;
    padding: .75rem 1rem;
    width: max-content;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 500;
    font-family: $font-family-sans-serif;
  }
}
.actions-list{
  li{
    font-weight: 400;
    font-size: 1rem;
    color: #000;
    font-family: $font-family-sans-serif;
  }
}

.no-data{
  height: 100%;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: $font-family-sans-serif;
  line-height: 1.5rem;
  color: #1C1C1E;
}


img{
  width: 152px;
  height: 71px;
  display: block;
}
.brand-details{
  display: flex;
  padding:16px 0;
  line-height: 24px;
  flex-direction: column;
  font-size: 16px;
  color: #1C1C1E;
}
.score-section{
  gap: 6px;
  display: flex;
  flex-direction: column;
  padding: 12px 0;
}
.score-section h3{
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}
.score-section h2{
  font-size: 32px;
  font-weight: 700;
  color: #519259;
  line-height: 42px;
}
.brand-details h2{
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  padding-bottom: 8px;
}

.responses h3,
.brand-details h3{
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.brand-details p{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.title{
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  padding: .5rem 0;
  border-top: 1px solid #C9DDCC;
  border-bottom: 1px solid #C9DDCC;
}
.responses{
  gap: 1rem;
  display: flex;
  // padding: 1rem 0;
  flex-direction: column;
}
.responses li{
  gap: .3rem;
  display: flex;
  flex-direction: column;
  // padding-bottom: 1rem;
  border-bottom: 1px solid #C9DDCC;
}
.responses h4{
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
}

.responses p{
  font-weight: 400;
  font-size: 12px;
  color: #000;
  line-height: 14px;
}
.responses .list{
  gap: .5rem;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  h4{
    position: relative;
    &::before{
      content: '';
      top: 50%;
      left: -1rem;
      width: 5px;
      height: 5px;
      position: absolute;
      border-radius: 50%;
      background-color: black;
      transform: translateY(-50%);
    }
  }
}
footer{
  text-align: center;
  background-color: #13501B;
}
footer p{
  font-weight: 400;
  font-size: 10px;
  color: #EEF4EE;
  padding: 16px 0;
}
main{
  padding: 33px 42px 0 33px;
}

.disclaimer{
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 20px;
}

.implication{
  margin-top: 2rem;
}

.cta__wrap{
  gap: .5rem;
  display: flex;
  align-items: center;

  .btn__cta{
    font-size: .9rem;
    font-weight: 500;
    transition: .2s linear;
    &:hover{
      text-decoration: underline;
    }
  }
}
p.helper__text{
  margin: 0;
  font-weight: 300;
  font-size: 13px!important;
  color: #000000e8;
  font-family: $font-family-inter!important;
}





.progress__bars{
  gap: .5rem;
  display: flex;
  width: 80%;
  padding: 1rem;
  border-radius: .5rem;
  flex-direction: column;
  background-color:$gray-100;
  li{
    color: #374A62;
    font-size: 11px;
    font-weight: 400;
    font-family: $font-family-inter;
    display: flex;
    gap: .2rem;
    flex-direction: column;
    .values{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .bar{
      height: 6px;
      width: 100%;
      overflow: hidden;
      border-radius: 5px;
      background-color: $green-50;
      .progress{
        height: 100%;
        border-radius: 5px;
        background-color: $primary-color;
      }
    }
  }
}