@import '../../../../styles/main.scss';

.main__content{
  display: grid;
  min-height: 100svh;

}

@include when-screen-is-atleast(medium){
  .main__content{
    grid-template-columns: max-content auto;
  }
}

.top__bar{
  padding: 2rem;
  h2{
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}