@import "../../../../../styles/main.scss";

.main{
    display: grid;
    height: 100%;
    font-family: $font-family-sans-serif;
    grid-template-rows: max-content auto;
    .main__content{
        gap: 2rem;
        display: grid;
        padding: 0 2rem 2rem 2rem;
        height: max-content;
        background-color: #fafafae5;
        grid-template-columns: auto 300px;
        .col__right{
            gap: 2rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            h2{
                gap: 1rem;
                display: flex;
                padding: 1rem;
                color: white;
                font-size: 1rem;
                line-height: 1rem;
                font-weight: bold;
                border-radius: .5rem;
                align-items: center;
                background-color: $primary-color;
            }
        }
        .cover__background{
            height: 200px;
            border-radius: .5rem .5rem 0 0;
            background-image: linear-gradient(135deg, #f0bc62a2, #f0bc62a2, #f0bc62a2);
            position: relative;
            .profile__card{
                padding: .25rem;
                border-radius: 50%;
                width: max-content;
                height: max-content;
                position: absolute;
                bottom: -50px;
                left: 50px;
                background-color: white;
                .avatar{
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
        }
        .bio_info{
            
            padding: 50px 0 1rem 50px;
            h2{
                font-weight: bold;
                font-size: 1.2rem;
                font-family: $font-family-sans-serif;
            }
            p{
                gap: .5rem;
                display: flex;
                align-items: center;
            }
        }
    }
}

.card__item__details{
    gap: 2rem;
    display: flex;
    flex-direction: column;

    .card__item__detail,
    .card__item__detail_info {
        display: grid;
        div {
            display: flex;
            flex-direction: column;
            align-items: start;
            label {
            font-weight: bold;
            }
        
            p {
                margin: 0.25rem 0;
                color: #555;
            }
        }
    }
    .card__item__detail_info{
        gap: 1rem 0;
        padding-bottom: 1rem;
    }
}

@include when-screen-is-atleast(medium){
    .card__item__details{
        .card__item__detail_info {
         grid-template-columns: repeat(2, 1fr);
        }
    }
}

@include when-screen-is-atleast(large){
    .card__item__details{
        .card__item__detail_info {
         grid-template-columns: repeat(3, 1fr);
        }
    }
}

.logo{
    width: 60px;
    display: block;
    object-fit: cover;
    border-radius: .5rem;
}

.btn__cta{
    display: block;
    padding: 1rem 0;
    cursor: pointer;
    transition: .2s linear;
    &:hover{
        text-decoration: underline;
    }
}



.switch {
    position: relative;
    display: inline-block;
    width: 40px; /* Adjusted width of the toggle switch */
    height: 20px; /* Adjusted height of the toggle switch */
    margin-left: 10px; /* Space between the switch and the title */
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* Background color when switch is off */
    transition: .4s;
    border-radius: 20px; /* Rounded corners */
  }
  
  /* The slider before the toggle */
  .slider:before {
    position: absolute;
    content: "";
    height: 14px; /* Adjusted height of the inner circle */
    width: 14px; /* Adjusted width of the inner circle */
    left: 3px; /* Distance from the left */
    bottom: 3px; /* Distance from the bottom */
    background-color: white; /* Inner circle color */
    transition: .4s;
    border-radius: 50%; /* Make it round */
  }
  
  /* Checkbox checked state */
  input:checked + .slider {
    background-color: $primary-color; /* Background color when switch is on */
  }
  
  /* Move the inner circle to the right when checked */
  input:checked + .slider:before {
    transform: translateX(20px); /* Adjusted movement to fit the smaller size */
  }
  



  
  