<ng-container *ngIf="revenueRecords$ | async"></ng-container>
<ng-container *ngIf="revenueRecord$ | async"></ng-container>
<ng-container *ngIf="createRevenueRecord$ | async"></ng-container>
<ng-container *ngIf="UpdateRevenueRecord$ | async"></ng-container>
<ng-container *ngIf="opexRecords$ | async"></ng-container>
<ng-container *ngIf="opexRecord$ | async"></ng-container>
<ng-container *ngIf="createOpexRecord$ | async"></ng-container>
<ng-container *ngIf="UpdateOpexRecord$ | async"></ng-container>
<ng-container *ngIf="financialInfoRecords$ | async"></ng-container>
<ng-container *ngIf="financialInfoRecord$ | async"></ng-container>
<ng-container *ngIf="CreateFinancialInfoRecord$ | async"></ng-container>
<ng-container *ngIf="UpdateFinancialInfoRecord$ | async"></ng-container>



<div class="main">
  <div class="navbar">
    <app-navbar onDashboard="true"></app-navbar>
  </div>
  <main>
    <div class="left__col"> 
        <div class="flex flex-col gap-4">
          
          <div class="p-6 bg-gray-50 rounded">
          <h2><strong>FINANCIAL REPORTS</strong></h2>






            <p-tabView class="mb-6">                    
              <p-tabPanel header="FINANCIAL INFORMATION">
                <button  class="btn btn-sm mb-4" (click)="addFinancialRecord()">Add Financial Information</button>

                <p-table [value]="tableData" [responsiveLayout]="'scroll'" class="p-datatable-gridlines">
                  <p>{{tableData}}</p>
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Key Financial Values</th>
                      <th *ngFor="let year of years" >
                        <span style="display: flex; align-items: center;">
                          {{ year }}
                          <mat-icon 
                            class="small-icon" 
                            style="font-size: 18px; margin-left: 4px; cursor: pointer;" 
                            (click)="handleYearClick(year)">
                            edit
                          </mat-icon>
                        </span>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-row>
                    <tr>
                      <td>{{ row.description }}</td>
                      <td *ngFor="let year of years">{{ row[year] || 'N/A' }}</td>
                    </tr>
                  </ng-template>
                </p-table>               
              </p-tabPanel>


              <!-- Revenue Records Tab -->
              <p-tabPanel header="REVENUE RECORDS">
                  <button  class="btn btn-sm mb-4" (click)="addRevenueRecord()">Add Revenue Record</button>
                <div class="mb-4">        
                  <p-table [value]="revenueRecords" class="p-datatable-gridlines">
                    <ng-template pTemplate="header">
                      <tr>
                        <th>#</th>
                        <th>Description</th>
                        <th>Value</th>
                        <th>Actions</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-revenue let-i="rowIndex">
                      <tr>
                        <td>{{i+1}}</td>
                        <td>{{ revenue.description }}</td>
                        <td>{{ revenue.value | currency }}</td>
               
                        <td>
                          <div class="flex space-x-4">
                            <button  class="btn btn-sm btn-tertiary-alt btn-success-alt" (click)="showModalFunc(revenue,'view_revenue_records')">View</button>
                            <button  class="btn btn-sm" (click)="showModalFunc(revenue,'update_revenue_records')">Edit</button>
                          </div>
                        </td>
                        

                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </p-tabPanel>
          
              <!-- Opex Records Tab -->
              <p-tabPanel header="OPEX RECORDS">
                <button  class="btn btn-sm mb-4" (click)="addOpexRecord()">Add Opex Record</button>
                <div class="mb-4">
                  <p-table [value]="opexRecords" class="p-datatable-gridlines">
                    <ng-template pTemplate="header">
                      <tr>
                        <th>#</th>
                        <th>Description</th>
                        <th>Value</th>
                        <th>Actions</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-opex let-i="rowIndex">
                      <tr>
                        <td>{{i+1}}</td>
                        <td>{{ opex.description }}</td>
                        <td>{{ opex.value | currency }}</td>
                        <td>
                          <div class="flex space-x-4">
                            <button  class="btn btn-sm btn-tertiary-alt btn-success-alt" (click)="showModalFunc(opex,'view_opex_records')">View</button>
                            <button  class="btn btn-sm" (click)="showModalFunc(opex,'update_opex_records')">Edit</button>
                          </div>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </p-tabPanel>
                
            </p-tabView>
          </div>
        </div>
    </div>


    <div class="right__col">     
      <app-advertisement-space [title]="'Advertise Here'" [body]="'This space is available for your advertising needs to reach more businesses. Contact us to learn more!'" />
    </div>
  </main>
</div>



<app-modal [(visible)]="showModal" [title]="title" [helperText]="helperText">
  <!-- View Revenue Record -->
  <div *ngIf="view_revenue_records">
    <p><strong>Description:</strong> {{ currentRecord.description }}</p>
    <p><strong>Value:</strong> {{ currentRecord.value | currency }}</p>
  </div>

  <!-- Update Revenue Record -->
  <div *ngIf="update_revenue_records" class="form_content__container">
    <div class="input__wrapper">
      <label for="description" class="input__label">Description</label>
      <input id="description" type="text" class="input__field" [(ngModel)]="currentRecord.description" />
    </div>
    <div class="input__wrapper">
      <label for="value" class="input__label">Value</label>
      <input id="value" type="number" class="input__field" [(ngModel)]="currentRecord.value" />
    </div>
    <div class="cta__group">
      <button class="btn btn-primary mt-2 btn-sm" (click)="saveUpdates()">Save</button>
    </div>
  </div>

  <!-- View Opex Record -->
  <div *ngIf="view_opex_records">
    <p><strong>Description:</strong> {{ currentRecord.description }}</p>
    <p><strong>Value:</strong> {{ currentRecord.value | currency }}</p>
  </div>

  <!-- Update Opex Record -->
  <div *ngIf="update_opex_records" class="form_content__container">
    <div class="input__wrapper">
      <label for="description" class="input__label">Description</label>
      <input id="description" type="text" class="input__field" styleClass="w-full gap-4" [(ngModel)]="currentRecord.description" />
    </div>
    <div class="input__wrapper">
      <label for="value" class="input__label">Value</label>
      <input id="value" type="number" class="input__field" styleClass="w-full gap-4" [(ngModel)]="currentRecord.value" />
    </div>
    <div class="cta__group">
      <button class="btn btn-primary mt-2 btn-sm" (click)="saveUpdates()">Save</button>
    </div>
  </div>

</app-modal>




<!-- Existing modals above -->
<app-modal [(visible)]="showFinancialModal" [title]="title" [helperText]="helperText">
  <!-- Financial Information Modal -->
  <!-- View Financial Information Record -->


  <div *ngIf="view_financial_info" class="card financial-info-card">
    <div class="header">
      <h2>Financial Information</h2>
    </div>
    <div class="content">
      <p><strong>Year:</strong> {{ currentFinancialRecord.year }}</p>
      <p><strong>Status:</strong> <span class="status">{{ currentFinancialRecord.status }}</span></p>
      <p><strong>Notes:</strong> {{ currentFinancialRecord.notes }}</p>
      <p><strong>Created At:</strong> {{ currentFinancialRecord.createdAt | date: 'short' }}</p>
      <p><strong>Updated At:</strong> {{ currentFinancialRecord.updatedAt | date: 'short' }}</p>
    </div>
  
    <div class="financial-section">
      <h3>Revenues</h3>
      <ul>
        <li *ngFor="let item of currentFinancialRecord.revenues">
          <span class="value">{{ item.value | currency}}</span> : {{ item.description }}
        </li>
      </ul>
    </div>
  
    <div class="financial-section">
      <h3>Operational Expenditures</h3>
      <ul>
        <li *ngFor="let item of currentFinancialRecord.opex">
          <span class="value">{{ item.value | currency }}</span> : {{ item.description }}
        </li>
      </ul>
    </div>
  </div>
  








  <!-- Update Financial Information Record -->
  <div *ngIf="update_financial_info" class="form_content__container">
      <h6>Year : <strong>{{currentFinancialRecord.year}}</strong></h6>
    <div class="input__wrapper">
      <!-- <label for="year" class="input__label">Year : {{currentFinancialRecord.year}}</label> -->
      <!-- <input id="year" type="number" class="input__field" [(ngModel)]="currentFinancialRecord.year" readonly /> -->
    </div>
    <!-- <div class="input__wrapper">
      <label for="status" class="input__label">Status</label>
      <input id="status" type="text" class="input__field" [(ngModel)]="currentFinancialRecord.status" />
    </div>
    <div class="input__wrapper">
      <label for="notes" class="input__label">Notes</label>
      <textarea id="notes" class="input__field" [(ngModel)]="currentFinancialRecord.notes"></textarea>
    </div> -->

    <form [formGroup]="financialForm">
      <div class="input__wrapper">
        <label for="notes" class="input__label">Revenue Records</label>
        <p-multiSelect 
          class="input__field" 
          styleClass="w-full gap-4" 
          formControlName="revenues"
          [options]="revenueRecords"
          optionLabel="description"
          optionValue="id"
          placeholder="Select Revenue Records">
        </p-multiSelect>
      </div>
    
      <div class="input__wrapper">
        <label for="notes" class="input__label">Opex Records</label>
        <p-multiSelect 
          class="input__field" 
          styleClass="w-full gap-4"  
          formControlName="opex"
          [options]="opexRecords"
          optionLabel="description"
          optionValue="id"
          placeholder="Select Opex Records">
        </p-multiSelect>
      </div>
    
      <div class="cta__group">
        <button class="btn btn-primary mt-2 btn-sm" (click)="saveUpdatesFinancial()">Save</button>
      </div>
    </form>
    
  </div>
</app-modal>



<app-modal [(visible)]="showCreateRecordModal" title="Create Revenue Record" helperText="Create A New Revenue Record">
  <!-- Update Revenue Record -->
  <div class="form_content__container">
    <div class="input__wrapper">
      <label for="description" class="input__label">Description</label>
      <input id="description" type="text" class="input__field" [(ngModel)]="newRevenueRecord.description" />
    </div>
    <div class="input__wrapper">
      <label for="value" class="input__label">Value</label>
      <input id="value" type="number" class="input__field" [(ngModel)]="newRevenueRecord.value" />
    </div>
    <div class="cta__group">
      <button class="btn btn-primary mt-2 btn-sm" (click)="createRevenueRecord()">Save</button>
    </div>
  </div>
</app-modal>


<app-modal [(visible)]="showCreateOpexModal" title="Create Opex Record" helperText="Create A New Operational Expenditure Record">
  <!-- Update Revenue Record -->
  <div class="form_content__container">
    <div class="input__wrapper">
      <label for="description" class="input__label">Description</label>
      <input id="description" type="text" class="input__field" [(ngModel)]="newOpexRecord.description" />
    </div>
    <div class="input__wrapper">
      <label for="value" class="input__label">Value</label>
      <input id="value" type="number" class="input__field" [(ngModel)]="newOpexRecord.value" />
    </div>
    <div class="cta__group">
      <button class="btn btn-primary mt-2 btn-sm" (click)="CreateOpexRecord()">Save</button>
    </div>
  </div>
</app-modal>



<!-- Existing modals above -->
<app-modal [(visible)]="createFinancialModal" title="Financial Information" helperText="Add New Financial Information Details">
  <div class="form_content__container">
    <div class="input__wrapper">
      <label for="year" class="input__label">Year</label>
      <input id="year" type="number" class="input__field" [(ngModel)]="newFinancialRecord.year" />
    </div>

    <div class="input__wrapper">
      <label for="notes" class="input__label">Revenue Records</label>
      <p-multiSelect class="input__field" styleClass="w-full gap-4" [(ngModel)]="newFinancialRecord.revenues"
      [options]="revenueRecords" optionLabel="description" optionValue="id" placeholder="Select Revenue Records">
    </p-multiSelect>
    </div>
  

    <div class="input__wrapper">
      <label for="notes" class="input__label">Opex Records</label>
      <p-multiSelect class="input__field" styleClass="w-full gap-4"  [(ngModel)]="newFinancialRecord.opex"
        [options]="opexRecords" optionLabel="description" optionValue="id" placeholder="Select Opex Records">
      </p-multiSelect>
    </div> 

    <div class="cta__group">
      <button class="btn btn-primary mt-2 btn-sm" (click)="createFinancial()">Save</button>
    </div>
  </div>
</app-modal>
