<section class="bg-white rounded-xl p-8 gap-2 flex flex-col">
    <div class="header__section">
        <h3>Referral Link</h3>
        <p>Share this referral link to invite users</p>
    </div>
    <div class="flex items-center gap-6">
        <div class="block text-sm font-light link__input cursor-pointer" (click)="copyToClipboard()" #textDiv>{{link}}{{token | slice:0:15}}...</div>
        <button class="text-sm text-blue-500 " (click)="copyToClipboard()">
            <span *ngIf="!linkCopied">Copy Link</span>
            <span class="flex gap-1 items-center text-xs" *ngIf="linkCopied">
                copied
                <i class="pi pi-check text-xs"></i>
            </span>
        </button>
    </div>
    <app-qr-code [value]="link+token"/>
    <p class="block text-sm font-light">OR Scan the QR Code</p>
</section>