<ng-container *ngIf="markAsInteresting$ | async"></ng-container>
<ng-container *ngIf="rejectedCompanies$ | async"></ng-container>
<ng-container *ngIf="matchMakingStats$ | async"></ng-container>
<ng-container *ngIf="search$ | async"></ng-container>



<div class="main">
  <div class="navbar">
    <app-navbar onDashboard="true" [showBanner]="false" />
  </div>

  <main>
    <div class="left__col">
      <div *ngIf="table" class="text-start search border-0">
        <h5><strong>Declined Businesess</strong></h5>
        <app-debounced-search placeholder="Search for a company ..." [debounceTime]="800" (search)="onSearch($event)"/>
        <div class="flex mx-auto items-center justify-center text-center no-data" *ngIf="!rejectedBusinesses.length">
          No declined businesess found. <br /> Check again later.
        </div>
      </div>

      <div *ngIf="!table">
        <h6 class="text-xl font-semibold mb-2 text-center"><strong>Rejected Company Information</strong></h6>
      </div>

      <div class="table-parent">
        <div>
          <table class="table" *ngIf="table">
            <tbody>
              <tr class="border-b border-gray-200">
                <td class="font-bold">#</td>
                <td class="font-bold">Country</td>
                <td class="font-bold">Amount Raised</td>
                <td class="font-bold">Business Sub Sector</td>
                <td class="font-bold">Growth Stage</td>
                <td class="flex font-bold space-x-2">Actions</td>
              </tr>


              <tr
                *ngFor="let business of rejectedBusinesses; let i = index; trackBy: trackByIndex"
                class="border-b border-gray-200">
                <td class="font-bold">{{ i + 1 }}</td>
                <td class="">{{ business.company.country }}</td>
                <td class="">{{business.company.fundsNeeded}}</td>
                <td class="">{{ business.company.businessSubsector }}</td>
                <td class="">{{ business.company.growthStage }}</td>

                <td class="flex space-x-2 justify-center p-2">
                  <button class="btn btn-sm text-xs px-3 py-1"
                    (click)="showInterest(business.company.id)">Interested</button>
                  <div class="py-auto eye" (click)="showDetails(business.company)">
                    <mat-icon class="small-icon">visibility</mat-icon>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>


          <mat-paginator *ngIf="table"
            [pageSize]="pageSize"
            [length]="totalItems"
            [pageSizeOptions]="[5,10]"
            (page)="pageChange($event)">
          </mat-paginator>


          <div *ngIf="selectedBusiness" class="mx-auto shadow-xl p-6">
            <!-- Company Details -->
            <div class="mb-6 details company__info">
              <hr />
              <div class="m-6 grid grid-cols-1 sm:grid-cols-2 gap-4">
                <div>
                  <p class="font-bold">Country: <span class="font-light">{{ selectedBusiness.country }}</span></p>
                </div>
                <div>
                  <p class="font-bold">Sector: <span class="font-light">{{ selectedBusiness.businessSector }}</span></p>
                </div>
                <div>
                  <p class="font-bold">Sub Sector: <span class="font-light">{{ selectedBusiness.businessSubsector }}</span></p>
                </div>
                <div>
                  <p class="font-bold">Registration Structure: <span class="font-light">{{ selectedBusiness.registrationStructure }}</span></p>
                </div>
                <div>
                  <p class="font-bold">Growth Stage: <span class="font-light">{{ selectedBusiness.growthStage }}</span></p>
                </div>
          
                <div>
                  <p class="font-bold">Reasons for declining:</p>
                  <ul *ngIf="selectedBusiness.declineReasons.length >= 1">
                    <li *ngFor="let reason of selectedBusiness.declineReasons" class="font-light">{{ reason }}</li>
                  </ul>
                  <p *ngIf="selectedBusiness.declineReasons.length < 1" class="font-light">N/A</p>
                </div>
              </div>
            </div>
          
            <!-- Back Button -->
            <div class="flex justify-end details">
              <td class="flex space-x-2 justify-center p-2">
                <button class="btn btn-sm text-xs px-3 py-1" (click)="showInterest(selectedBusiness.id)">Interested</button>
                <button class="btn btn-sm bg-blue-500 text-white hover:bg-blue-600" (click)="hideDetails()">Back to List</button>
              </td>
            </div>
          </div>
          

        </div>
      </div>

    </div>


    <div class="right__col">
      <!-- <app-card [detail]="{title: 'Matched Businesses', value: matchedBusinesses.length.toString(), featured: true}">
        <p class="helper__text text__yellow">{{ matchedBusinesses.length.toString() }} perfect match</p>
      </app-card> -->

      <app-advertisement-space [title]="'Advertise Here'"
        [body]="'This space is available for your advertising needs to reach more businesses. Contact us to learn more!'" />
    </div>
  </main>
</div>